<script type="text/x-template" id="radio-template">
    <div class="radio">
        <label v-for="option in formElement.options">
            <input v-bind:name="formElement.name" 
                   type="radio" 
                   v-bind:value="option.Value"
                   v-on:change="$parent.updateField({mutation: formElement.mutation, value: $event.target.value})"
                   />
            {{ option.Text }}
        </label>
    </div>
</script>


<script>
    var Radio = {
        name: "Radio",
        template: "#radio-template",
        props: ['formElement']
    };
</script>

