<script type="text/x-template" id="radio-template">
    <div>
        <div v-for="option in formElement.options" class="radio">
            <label>
                <input v-bind:name="formElement.name"
                       type="radio"
                       v-bind:value="option.Value"
                       v-bind:disabled="formElement.name != 'Language' && formElement.name != 'MetadataLanguage' && !formElement.active && selectedValue != option.Value ?true:false"
                       v-bind:checked="selectedValue == option.Value"
                       v-on:click="$parent.updateField({mutation: formElement.mutation, value: $event.target.value})" />
                {{ option.Text }}
            </label>
        </div>
    </div>
</script>


<script>
    var Radio = {
        name: "Radio",
        template: "#radio-template",
        props: ['formElement'],
        computed: {
            selectedValue: function () {
                return "" + this.$store.getters[this.formElement.getter];
            }
        }
    };
</script>

