<script type="text/x-template" id="keyword-template">
    <div>
        <div class="form-group has-feedback">
            <div v-if="selectedLanguage == 'no'">
                <span class="form-element-badge">{{ this.englishKeywordValue }}</span>
                <input v-if="inputType == 'text'" v-bind:name="norwegianName" type="text"
                       v-bind:value="getNorwegianKeywordValue()"
                       v-on:change="$store.dispatch('updateMultilingualKeyword', {keywordName: keywordName, keywordIndex: keywordIndex, value: $event.target.value, language: 'no'});" 
                       class="form-control" />
                <div v-else-if="inputType == 'select'" type="text" class="custom-select">
                    <select v-bind:name="norwegianName" 
                            v-bind:value="getNorwegianKeywordValue()"
                            v-on:change="$store.dispatch('updateMultilingualKeyword', {keywordName: keywordName, keywordIndex: keywordIndex, value: $event.target.value, language: 'no'});" 
                            class="form-control">
                        <option v-bind:value="option.Value" v-for="option in options">{{ option.Text }}</option>
                    </select>
                </div>
            </div>

            <div v-else-if="selectedLanguage == 'en'">
                <span class="form-element-badge">{{ this.getNorwegianKeywordOptionTextByValue(this.norwegianKeywordValue) }}</span>
                <input v-bind:name="englishName" type="text" 
                       v-bind:value="getEnglishKeywordValue()"
                       v-on:change="$store.dispatch('updateMultilingualKeyword', {keywordName: keywordName, keywordIndex: keywordIndex, value: $event.target.value, language: 'en'});" 
                       class="form-control" />
            </div>

            <div v-else class="row">
                <div class="col-sm-5">
                    <span class="form-element-badge">{{ $root.languages['no'] }}</span>
                    <input v-if="inputType == 'text'" v-bind:name="norwegianName" type="text" v-bind:value="getNorwegianKeywordValue()" class="form-control" />
                    <div v-else-if="inputType == 'select'" type="text" class="custom-select">
                        <select v-bind:name="norwegianName" 
                                v-bind:value="getNorwegianKeywordValue()"
                                v-on:change="$store.dispatch('updateMultilingualKeyword', {keywordName: keywordName, keywordIndex: keywordIndex, value: $event.target.value, language: 'no'});"  
                                class="form-control">
                            <option v-bind:value="option.Value" v-for="option in options">{{ option.Text }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-5">
                    <span class="form-element-badge">{{ $root.languages['en'] }}</span>
                    <input v-bind:name="englishName" type="text" 
                           v-bind:value="getEnglishKeywordValue()"
                           v-on:change="$store.dispatch('updateMultilingualKeyword', {keywordName: keywordName, keywordIndex: keywordIndex, value: $event.target.value, language: 'en'});" 
                           class="form-control" />
                </div>
                <div class="col-md-2">
                    <span class="btn" v-on:click="removeKeyword()">Slett</span>
                    @* <span class="btn" v-on:click="$store.commit('removeFormatDistributionsFormat', {distributionIndex: $parent.distributionIndex, distributionFormatIndex: formatIndex});">Slett</span>*@
                </div>
            </div>

        </div>
    </div>
</script>

<script>
    var MultilingualKeyword = {
        name: "multilingualKeyword",
        template: "#keyword-template",
        props: ['selectedLanguage', 'keywordName', 'inputType', 'keywordIndex', 'keywordKey', 'keywordValue', 'options'],
        components: {
        },
        data: function () {
            return {
                arrayName: 'Keywords' + this.keywordName
            }
        },
   
       /* mounted: function () {
            this.englishKeywordValue = this.getEnglishKeywordValue();
            this.norwegianKeywordValue = this.keywordValue;
        },*/
        computed: {
            norwegianName: function () {
                return this.keywordName + '[' + this.keywordIndex + ']';
            },
            englishName: function () {
                return 'KeywordsEnglish' + '[' + this.keywordName + '_' + this.norwegianKeywordValue + ']';
            },
            norwegianKeywordValue: function () {
                return this.$store.getters['Keywords' + this.keywordName][this.keywordIndex];
            },
            englishKeywordValue: function () {
                var englishKeywordValue = '';
                if (this.$store.getters['KeywordsEnglish'].length) {
                    this.$store.getters['KeywordsEnglish'].forEach(function (keyword) {
                        if (keyword.Key == this.keywordName + '_' + this.keywordValue) {
                            englishKeywordValue = keyword.Value;
                            return;
                        }
                    }.bind(this));
                }
                return englishKeywordValue;
            }
        },
        methods: {
            getNorwegianKeywordValue: function () {
                return this.$store.getters['Keywords' + this.keywordName][this.keywordIndex];
            },
            getEnglishKeywordValue: function () {
                var englishKeywordValue = '';
                if (this.$store.getters['KeywordsEnglish'].length) {
                    this.$store.getters['KeywordsEnglish'].forEach(function (keyword) {
                        if (keyword.Key == this.keywordName + '_' + this.keywordValue) {
                            englishKeywordValue = keyword.Value;
                            return;
                        }
                    }.bind(this));
                }
                return englishKeywordValue;
            },
            getNorwegianKeywordOptionTextByValue: function (keywordOptionValue) {
                var keywordOptionText = keywordOptionValue;
                if (this.options !== null) {
                    this.options.forEach(function (option) {
                        if (option.Value == keywordOptionValue) {
                            keywordOptionText = option.Text;
                            return;
                        }
                    });
                }
                return keywordOptionText;
            },
            removeKeyword: function () {
                console.log(this.keywordIndex);
                console.log(this.keywordName);
               // this.$root.removeKeyword(this.keywordIndex, this.keywordName);
            }
        }
    }
</script>
