@using Kartverket.MetadataEditor.Helpers


<script type="text/x-template" id="norgeskart-template">
    <div class="custom-modal">
        <div class="custom-modal-container">
            <iframe src='@Html.SecureNorgeskartUrl()select-rect.html' id='iframe' name='iframe' style="height: 100%"></iframe>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" v-on:click="$parent.areaSelect.showMap = false">Avbryt</button>
                <button v-on:click="setBoundingBox(); $parent.areaSelect.showMap = false" type="button" class="btn btn-default" data-dismiss="modal">Legg til område</button>
            </div>

        </div>
    </div>
</script>

<script>

    var Norgeskart = {
        name: "Norgeskart",
        template: "#norgeskart-template",
        data: function () {
            return {
                conf: {
                    center_latitude: "7226208",
                    center_longitude: "378604",
                    grid_folder: "/sites/all/modules/custom/kms_widget/grid/",
                    koordinatsystem: "UTM32-EUREF89",
                    selection_type: "3525",
                    service_name: "fylker-utm32",
                    zoom_level: "4",
                },
                boundingBox: null
            }
        },
        computed: {
        },
        methods: {
            setBoundingBox: function () {
                this.$root.selectedValues.timeAndSpace.boundingBox.areas.push(this.boundingBox);
                this.$parent.setBoundingBoxCoordinates();
            }
        },
        mounted: function () {
            this.boundingBox = {
                BoundingBoxEast: null,
                BoundingBoxNorth: null,
                BoundingBoxSouth: null,
                BoundingBoxWest: null,
                GeographicCenterX: this.conf.center_longitude,
                GeographicCenterY: this.conf.center_latitude,
                Name: 'Valgt fra kart'
            };

            window.addEventListener('message', function (e) {
                if (e.origin !== undefined && e.origin == "https://norgeskart.no") {
                    var msg = JSON.parse(e.data);
                    if (msg.type === "mapInitialized") {
                        sendMessage({
                            "cmd": "setCenter",
                            "x": this.conf.center_longitude,
                            "y": this.conf.center_latitude,
                            "zoom": this.conf.zoom_level
                        });
                    } else {

                        if (msg.cmd === "setVisible") return;

                        var obj = msg;
                        if (obj.feature != null) {
                            var coords = obj.feature.geometry.coordinates[0];
                            var c1 = coords[0];
                            var c2 = coords[1];
                            var c3 = coords[2];
                            var c4 = coords[3];

                            var x1 = c1[0];
                            var y1 = c1[1];
                            var x2 = c2[0];
                            var y2 = c3[1];

                            $.getJSON('@Html.GeonorgeWebserviceUrl()/transApi?ost=' + x1 + '&nord=' + y1 + '&fra=23&til=84', function (result) {
                                if (result.kode == 0) {
                                    this.boundingBox.BoundingBoxWest = result.ost.toFixed(4);
                                    this.boundingBox.BoundingBoxSouth = result.nord.toFixed(4);
                                }
                            }.bind(this));
                            $.getJSON('@Html.GeonorgeWebserviceUrl()/transApi?ost=' + x2 + '&nord=' + y2 + '&fra=23&til=84', function (result) {
                                if (result.kode == 0) {
                                    this.boundingBox.BoundingBoxEast = result.ost.toFixed(4);
                                    this.boundingBox.BoundingBoxNorth = result.nord.toFixed(4);
                                }
                            }.bind(this));
                        }
                    }
                }
            }.bind(this), false);
        }
    };
</script>


