@model Kartverket.MetadataEditor.Models.MetadataViewModel

<div class="form-group">
    <label for="TopicCategory" class="col-sm-2 control-label">Tematisk hovedkategori</label>
    <div class="col-sm-9">
        @Html.DropDownList("TopicCategory", ViewBag.TopicCategoryValues as SelectList, String.Empty, new { @class = "form-control" })
        <p class="help-text bg-success" id="help-text-topicCategory" style="display: none">
            Tematisk inndeling definert i metadatastandarden.
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-topicCategory" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

<div class="form-group">
    <label for="SupplementalDescription" class="col-sm-2 control-label">Supplerende beskrivelse</label>
    <div class="col-sm-9">
        @Html.TextAreaFor(m => m.SupplementalDescription, new { @class = "form-control", cols = "", rows = "3" })
        <p class="help-text bg-success" id="help-text-supplementalDescription" style="display: none">
            Annen informasjon som er ønskelig å opplyse om, men som ikke hører hjemme i sammendraget.
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-supplementalDescription" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

<div class="form-group">
    <label for="SpecificUsage" class="col-sm-2 control-label">Bruksområde</label>
    <div class="col-sm-9">
        @Html.TextAreaFor(m => m.SpecificUsage, new { @class = "form-control", cols = "", rows = "3" })
        <p class="help-text bg-success" id="help-text-usage" style="display: none">
            Kort beskrivelse av hvordan datasettet kan/børbrukes.
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-usage" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>