@using Kartverket.MetadataEditor.Helpers

<script type="text/javascript" src="~/Scripts/easyXDM.js"></script>

<div class="modal-dialog" style="width: 75%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Norgeskart</h4>
            <div style="right: 5px; top: 5px; position:absolute;"><button onclick="setBoundingBox();" type="button" class="btn btn-default" data-dismiss="modal">Ferdig</button> <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button></div>
        </div>
        <div class="modal-body">
            <div id="viewer" role="main" style="height:100%">
                    <div id="container"></div>
                <p id="result"></p>
            </div>
        </div>
      </div>
 </div>
            <script>

                var BBWest;
                var BBSouth;
                var BBEast;
                var BBNorth;

                // by Kartverket/Thomas Hirsch 2012 / public domain.
                var socket = new easyXDM.Socket({
                    remote: "@Html.NorgeskartUrl()select-rect.html",
                    onMessage: function (message, origin) {
                        //var reslist = document.getElementById('result');
                        //reslist.innerHTML = message + "<br/>" + reslist.innerHTML;
                        var obj = $.parseJSON(message);
                        if (obj.feature != null)
                        {
                        var coords = obj.feature.geometry.coordinates[0];
                        var c1 = coords[0];
                        var c2 = coords[1];
                        var c3 = coords[2];
                        var c4 = coords[3];

                        var x1 = c1[0];
                        var y1 = c1[1];
                        var x2 = c2[0];
                        var y2 = c3[1];

                        
                        $.getJSON('http://norgeskart.no/ws/trans.py?ost=' + x1 + '&nord=' + y1 + '&sosiKoordSys=23&resSosiKoordSys=84', function (result) {
                            if (result.errKode == 0){
                                BBWest = result.ost;
                                BBSouth = result.nord
                            }
                        }
                        );
                        
                        $.getJSON('http://norgeskart.no/ws/trans.py?ost=' + x2 + '&nord=' + y2 + '&sosiKoordSys=23&resSosiKoordSys=84', function (result) {
                            if (result.errKode == 0) {
                                BBEast = result.ost;
                                BBNorth = result.nord
                            }
                        }
                        );


                        }

                    },
                    container: document.getElementById("container"),
                    onReady: function () {
                        this.container.getElementsByTagName("iframe")[0].style.height = "750px";
                        this.container.getElementsByTagName("iframe")[0].style.width = "800px";
                    }
                });

                function setBoundingBox()
                {
                    if (typeof BBWest != 'undefined')
                    {
                    BBWest = BBWest.toFixed(4);
                    BBSouth = BBSouth.toFixed(4);
                    BBEast = BBEast.toFixed(4);
                    BBNorth = BBNorth.toFixed(4);

                    document.getElementById('BoundingBoxWest').value = BBWest;
                    document.getElementById('BoundingBoxSouth').value = BBSouth;
                    document.getElementById('BoundingBoxEast').value = BBEast;
                    document.getElementById('BoundingBoxNorth').value = BBNorth;
                    }
                }

            </script>
