@using Kartverket.MetadataEditor.Helpers
@model Kartverket.MetadataEditor.Models.MetadataViewModel

<script type="text/javascript" src="http://labs.kartverket.no/js/easyXDM.js"></script>

<div class="modal-dialog" style="width: 75%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Norgeskart</h4>
            <div style="right: 5px; top: 5px; position:absolute;"><button onclick="setBoundingBox();" type="button" class="btn btn-default" data-dismiss="modal">Ferdig</button> <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button></div>
        </div>
        <div class="modal-body">
            <div id="viewer" role="main" style="height:100%">
                    <div id="container"></div>
                <p id="result"></p>
            </div>
        </div>
      </div>
 </div>
            <script>

                var BBWest;
                var BBSouth;
                var BBEast;
                var BBNorth;

                // by Kartverket/Thomas Hirsch 2012 / public domain.
                var socket = new easyXDM.Socket({
                    remote: "http://norgeskart.no/geoportal/staging/select-rect.html",
                    onMessage: function (message, origin) {
                        //var reslist = document.getElementById('result');
                        //reslist.innerHTML = message + "<br/>" + reslist.innerHTML;
                        var obj = $.parseJSON(message);
                        if (obj.feature != null)
                        {
                        var coords = obj.feature.geometry.coordinates[0];
                        var c1 = coords[0];
                        var c2 = coords[1];
                        var c3 = coords[2];
                        var c4 = coords[3];

                        var west = c1[0];
                        var south = c1[1];
                        var east = c2[0];
                        var north = c3[1];

                        //document.getElementById('BoundingBoxWest').value = west;
                        //document.getElementById('BoundingBoxSouth').value = south;
                        //document.getElementById('BoundingBoxEast').value = east;
                        //document.getElementById('BoundingBoxNorth').value = north;

                        //alert('Coordinate 1: ' + c1 + '\n' + 'Coordinate 2: ' + c2 + '\n' + 'Coordinate 3: ' + c3 + '\n' + 'Coordinate 4: ' + c4 + '\n\nVest: ' + west + '\nSør: ' + south + '\nØst: ' + east + '\nNord: ' + north);

                        BBWest= west;
                        BBSouth = south;
                        BBEast = east;
                        BBNorth = north;

                        }

                    },
                    container: document.getElementById("container"),
                    onReady: function () {
                        this.container.getElementsByTagName("iframe")[0].style.height = "750px";
                        this.container.getElementsByTagName("iframe")[0].style.width = "800px";
                    }
                });

                function setBoundingBox()
                {
                    if (typeof BBWest != 'undefined')
                    {
                    document.getElementById('BoundingBoxWest').value = BBWest;
                    document.getElementById('BoundingBoxSouth').value = BBSouth;
                    document.getElementById('BoundingBoxEast').value = BBEast;
                    document.getElementById('BoundingBoxNorth').value = BBNorth;
                    }
                }

            </script>
