@using Kartverket.MetadataEditor.Helpers
@model Kartverket.MetadataEditor.Models.MetadataViewModel

<script type="text/javascript" src="http://labs.kartverket.no/js/easyXDM.js"></script>

<div class="modal-dialog" style="width: 50%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Norgeskart</h4>
            <div style="right: 5px; top: 5px; position:absolute;"><button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button></div>
        </div>
        <div class="modal-body">
            <div id="viewer" role="main" style="height:100%">
                    <div id="container"></div>
                <p id="result"></p>
            </div>
        </div>
      </div>
 </div>
            <script>
                // by Kartverket/Thomas Hirsch 2012 / public domain.
                var socket = new easyXDM.Socket({
                    remote: "http://norgeskart.no/geoportal/staging/select-rect.html",
                    onMessage: function (message, origin) {
                        var reslist = document.getElementById('result');
                        reslist.innerHTML = message + "<br/>" + reslist.innerHTML;
                    },
                    container: document.getElementById("container"),
                    onReady: function () {
                        this.container.getElementsByTagName("iframe")[0].style.height = "250px";
                        this.container.getElementsByTagName("iframe")[0].style.width = "600px";
                    }
                });
            </script>
