<option data-countynumber="02" data-north="60.605148" data-south="59.471882" data-east="11.926978" data-west="10.328467">Akershus</option>
<option data-countynumber="09" data-north="59.672687" data-south="57.917234" data-east="9.668877" data-west="6.824533">Aust-Agder</option>
<option data-countynumber="06" data-north="61.09172" data-south="59.407871" data-east="10.634994" data-west="7.438842">Buskerud</option>
<option data-countynumber="20" data-north="71.384879" data-south="68.554592" data-east="31.761485" data-west="20.479733">Finnmark</option>
<option data-countynumber="04" data-north="62.696928" data-south="59.840785" data-east="12.870849" data-west="9.583827">Hedmark</option>
<option data-countynumber="12" data-north="61.035238" data-south="59.475421" data-east="7.732115" data-west="4.184771">Hordaland</option>
<option data-countynumber="15" data-north="63.768169" data-south="61.956584" data-east="9.584212" data-west="4.816602">Møre og Romsdal</option>
<option data-countynumber="17" data-north="65.470175" data-south="63.180687" data-east="14.325986" data-west="9.699817">Nord-Trøndelag</option>
<option data-countynumber="18" data-north="69.596701" data-south="64.939497" data-east="18.151355" data-west="10.57806">Nordland</option>
<option data-countynumber="05" data-north="62.378402" data-south="60.13161" data-east="11.153986" data-west="7.34253">Oppland</option>
<option data-countynumber="21" data-north="60.135106" data-south="59.809311" data-east="10.951389" data-west="10.489165">Oslo</option>
<option data-countynumber="11" data-north="59.844574" data-south="58.027854" data-east="7.214667" data-west="4.454274">Rogaland</option>
<option data-countynumber="14" data-north="62.382396" data-south="60.675548" data-east="8.322053" data-west="4.087526">Sogn og Fjordane</option>
<option data-countynumber="16" data-north="63.350279" data-south="63.343735" data-east="10.870418" data-west="10.854891">Sør-Trøndelag</option>
<option data-countynumber="08" data-north="60.188272" data-south="58.603311" data-east="9.969765" data-west="7.096288">Telemark</option>
<option data-countynumber="19" data-north="70.703616" data-south="68.356014" data-east="22.894466" data-west="15.592542">Troms</option>
<option data-countynumber="10" data-north="59.189687" data-south="57.759005" data-east="8.37168" data-west="6.149699">Vest-Agder</option>
<option data-countynumber="07" data-north="59.701938" data-south="58.720455" data-east="10.67502" data-west="9.755336">Vestfold</option>
<option data-countynumber="01" data-north="59.790586" data-south="58.76096" data-east="11.946004" data-west="10.536679">Østfold</option>
<option data-countynumber="1622" data-north="63.671842" data-south="63.386132" data-east="9.979701" data-west="9.248358">Agdenes</option>
<option data-countynumber="1820" data-north="66.03974" data-south="65.694936" data-east="12.774986" data-west="12.071283">Alstahaug</option>
<option data-countynumber="2012" data-north="70.448021" data-south="69.645451" data-east="24.218231" data-west="22.185818">Alta</option>
<option data-countynumber="0438" data-north="62.279817" data-south="61.913289" data-east="10.932754" data-west="10.122072">Alvdal</option>
<option data-countynumber="0719" data-north="59.388518" data-south="59.18466" data-east="10.214699" data-west="9.992562">Andebu</option>
<option data-countynumber="1871" data-north="69.596701" data-south="68.75986" data-east="16.517643" data-west="15.022083">Andøy</option>
<option data-countynumber="0118" data-north="59.338134" data-south="59.033681" data-east="11.829796" data-west="11.553529">Aremark</option>
<option data-countynumber="0906" data-north="58.603528" data-south="58.250271" data-east="9.364087" data-west="8.499747">Arendal</option>
<option data-countynumber="0220" data-north="59.905938" data-south="59.771439" data-east="10.567349" data-west="10.328467">Asker</option>
<option data-countynumber="0124" data-north="59.65597" data-south="59.538047" data-east="11.260984" data-west="11.090585">Askim</option>
<option data-countynumber="1428" data-north="61.490968" data-south="61.219512" data-east="5.553389" data-west="4.10297">Askvoll</option>
<option data-countynumber="1247" data-north="60.631893" data-south="60.381775" data-east="5.280259" data-west="4.897878">Askøy</option>
<option data-countynumber="1027" data-north="58.515609" data-south="58.226932" data-east="7.532486" data-west="7.239871">Audnedal</option>
<option data-countynumber="1547" data-north="63.145964" data-south="62.750069" data-east="7.047403" data-west="6.338072">Aukra</option>
<option data-countynumber="1576" data-north="63.447481" data-south="63.115442" data-east="8.911092" data-west="7.743677">Aure</option>
<option data-countynumber="1421" data-north="61.066348" data-south="60.675548" data-east="7.750377" data-west="6.721028">Aurland</option>
<option data-countynumber="0221" data-north="60.023634" data-south="59.593646" data-east="11.926978" data-west="11.274078">Aurskog-Høland</option>
<option data-countynumber="1244" data-north="60.188796" data-south="59.91352" data-east="5.331824" data-west="4.547053">Austevoll</option>
<option data-countynumber="1264" data-north="60.85822" data-south="60.729947" data-east="5.047091" data-west="4.686247">Austrheim</option>
<option data-countynumber="1554" data-north="63.34249" data-south="62.921942" data-east="7.756307" data-west="6.860503">Averøy</option>
<option data-countynumber="1418" data-north="61.428297" data-south="61.089729" data-east="6.70049" data-west="6.130812">Balestrand</option>
<option data-countynumber="1854" data-north="68.440556" data-south="68.050459" data-east="17.28854" data-west="15.901429">Ballangen</option>
<option data-countynumber="1933" data-north="69.52988" data-south="69.032998" data-east="19.991432" data-west="18.360006">Balsfjord</option>
<option data-countynumber="0814" data-north="59.125743" data-south="58.913285" data-east="9.783129" data-west="9.302236">Bamble</option>
<option data-countynumber="1922" data-north="69.050908" data-south="68.356014" data-east="20.226544" data-west="17.984796">Bardu</option>
<option data-countynumber="1839" data-north="67.13802" data-south="66.645933" data-east="15.02317" data-west="14.308319">Beiarn</option>
<option data-countynumber="1929" data-north="69.745043" data-south="69.298729" data-east="17.772818" data-west="16.570398">Berg</option>
<option data-countynumber="1201" data-north="60.536093" data-south="60.176091" data-east="5.686792" data-west="5.144579">Bergen</option>
<option data-countynumber="2024" data-north="71.120702" data-south="70.476807" data-east="30.05206" data-west="28.385268">Berlevåg</option>
<option data-countynumber="1811" data-north="65.502709" data-south="64.939497" data-east="13.156714" data-west="10.57806">Bindal</option>
<option data-countynumber="0928" data-north="58.637223" data-south="58.241874" data-east="8.444985" data-west="7.931311">Birkenes</option>
<option data-countynumber="1114" data-north="58.794876" data-south="58.514164" data-east="6.622801" data-west="5.864072">Bjerkreim</option>
<option data-countynumber="1627" data-north="64.074679" data-south="63.702613" data-east="10.215627" data-west="9.14906">Bjugn</option>
<option data-countynumber="1804" data-north="67.69944" data-south="66.920554" data-east="15.364907" data-west="12.728631">Bodø</option>
<option data-countynumber="1145" data-north="59.276242" data-south="59.111723" data-east="5.644643" data-west="5.345684">Bokn</option>
<option data-countynumber="1438" data-north="62.031941" data-south="61.66284" data-east="5.877284" data-west="4.226494">Bremanger</option>
<option data-countynumber="1813" data-north="65.623852" data-south="65.203917" data-east="13.167037" data-west="10.641886">Brønnøy</option>
<option data-countynumber="0938" data-north="59.098136" data-south="58.645913" data-east="8.016843" data-west="7.032588">Bygland</option>
<option data-countynumber="0941" data-north="59.672687" data-south="59.181916" data-east="7.625633" data-west="6.824533">Bykle</option>
<option data-countynumber="2028" data-north="70.940143" data-south="70.296431" data-east="31.222521" data-west="29.217676">Båtsfjord</option>
<option data-countynumber="0219" data-north="60.032227" data-south="59.82574" data-east="10.658082" data-west="10.348024">Bærum</option>
<option data-countynumber="0821" data-north="59.535905" data-south="59.343346" data-east="9.185224" data-west="8.819742">Bø</option>
<option data-countynumber="1867" data-north="69.001025" data-south="68.479734" data-east="14.863119" data-west="13.491803">Bø</option>
<option data-countynumber="1219" data-north="59.938617" data-south="59.496128" data-east="5.472028" data-west="4.603689">Bømlo</option>
<option data-countynumber="0511" data-north="62.343127" data-south="61.886299" data-east="9.9282" data-west="9.010277">Dovre</option>
<option data-countynumber="0602" data-north="59.816027" data-south="59.640533" data-east="10.323407" data-west="10.005292">Drammen</option>
<option data-countynumber="0817" data-north="59.296704" data-south="58.88496" data-east="9.398704" data-west="8.579688">Drangedal</option>
<option data-countynumber="1926" data-north="69.149203" data-south="68.902407" data-east="18.052249" data-west="17.243283">Dyrøy</option>
<option data-countynumber="1827" data-north="66.33418" data-south="65.996108" data-east="12.834101" data-west="11.839954">Dønna</option>
<option data-countynumber="1443" data-north="62.010667" data-south="61.838269" data-east="6.477322" data-west="5.472121">Eid</option>
<option data-countynumber="1551" data-north="63.273315" data-south="62.849678" data-east="7.615331" data-west="6.798688">Eide</option>
<option data-countynumber="1232" data-north="60.592029" data-south="60.098838" data-east="7.732115" data-west="6.844943">Eidfjord</option>
<option data-countynumber="0125" data-north="59.607051" data-south="59.450159" data-east="11.551" data-west="11.186087">Eidsberg</option>
<option data-countynumber="0420" data-north="60.141582" data-south="59.840785" data-east="12.35868" data-west="11.793048">Eidskog</option>
<option data-countynumber="0237" data-north="60.605148" data-south="60.225973" data-east="11.421933" data-west="11.072095">Eidsvoll</option>
<option data-countynumber="1101" data-north="58.649328" data-south="58.158331" data-east="6.497499" data-west="5.519542">Eigersund</option>
<option data-countynumber="0427" data-north="61.204264" data-south="60.741261" data-east="12.161089" data-west="11.298946">Elverum</option>
<option data-countynumber="0229" data-north="59.856051" data-south="59.682404" data-east="11.243729" data-west="10.931896">Enebakk</option>
<option data-countynumber="0434" data-north="62.374481" data-south="61.574542" data-east="12.299371" data-west="11.510019">Engerdal</option>
<option data-countynumber="1211" data-north="60.018186" data-south="59.578968" data-east="6.525484" data-west="5.764225">Etne</option>
<option data-countynumber="0541" data-north="61.127984" data-south="60.799254" data-east="9.815608" data-west="9.377646">Etnedal</option>
<option data-countynumber="1853" data-north="68.572766" data-south="68.417402" data-east="17.361668" data-west="16.552591">Evenes</option>
<option data-countynumber="0937" data-north="58.731274" data-south="58.441828" data-east="8.034473" data-west="7.513236">Evje og Hornnes</option>
<option data-countynumber="1003" data-north="58.230568" data-south="57.818893" data-east="7.001416" data-west="6.164511">Farsund</option>
<option data-countynumber="1841" data-north="67.453904" data-south="67.016217" data-east="16.4041" data-west="14.969154">Fauske</option>
<option data-countynumber="1265" data-north="60.88722" data-south="60.687822" data-east="4.791179" data-west="4.184771">Fedje</option>
<option data-countynumber="0227" data-north="59.988656" data-south="59.75385" data-east="11.355324" data-west="11.072935">Fet</option>
<option data-countynumber="1141" data-north="59.312102" data-south="59.081214" data-east="6.086436" data-west="5.598302">Finnøy</option>
<option data-countynumber="1222" data-north="59.999038" data-south="59.807698" data-east="5.499275" data-west="5.078465">Fitjar</option>
<option data-countynumber="1429" data-north="61.380919" data-south="61.180065" data-east="5.73179" data-west="4.821281">Fjaler</option>
<option data-countynumber="1246" data-north="60.475691" data-south="60.230593" data-east="5.203163" data-west="4.417742">Fjell</option>
<option data-countynumber="1859" data-north="68.393179" data-south="67.847173" data-east="13.581421" data-west="12.470718">Flakstad</option>
<option data-countynumber="1749" data-north="64.778152" data-south="64.280255" data-east="11.108378" data-west="9.699817">Flatanger</option>
<option data-countynumber="1004" data-north="58.567072" data-south="58.020855" data-east="6.926334" data-west="6.149699">Flekkefjord</option>
<option data-countynumber="0631" data-north="59.997468" data-south="59.717266" data-east="9.721987" data-west="9.1788">Flesberg</option>
<option data-countynumber="1401" data-north="61.783465" data-south="61.45633" data-east="5.73344" data-west="4.129898">Flora</option>
<option data-countynumber="0615" data-north="60.571929" data-south="60.296659" data-east="9.846718" data-west="9.094471">Flå</option>
<option data-countynumber="0439" data-north="62.427808" data-south="61.884445" data-east="10.391593" data-west="9.583827">Folldal</option>
<option data-countynumber="1129" data-north="59.19259" data-south="58.844236" data-east="6.939173" data-west="5.971691">Forsand</option>
<option data-countynumber="1748" data-north="64.835035" data-south="64.572786" data-east="12.216854" data-west="10.918802">Fosnes</option>
<option data-countynumber="0106" data-north="59.324031" data-south="59.044877" data-east="11.130718" data-west="10.605012">Fredrikstad</option>
<option data-countynumber="0215" data-north="59.7792" data-south="59.61266" data-east="10.75116" data-west="10.538102">Frogn</option>
<option data-countynumber="0919" data-north="58.721646" data-south="58.452775" data-east="8.759697" data-west="7.955896">Froland</option>
<option data-countynumber="1717" data-north="63.693277" data-south="63.490545" data-east="10.946821" data-west="10.488586">Frosta</option>
<option data-countynumber="1548" data-north="63.246397" data-south="62.752145" data-east="7.429657" data-west="6.499304">Fræna</option>
<option data-countynumber="1620" data-north="64.547294" data-south="63.598147" data-east="9.731859" data-west="7.648096">Frøya</option>
<option data-countynumber="1241" data-north="60.353616" data-south="60.033603" data-east="5.961294" data-west="5.516652">Fusa</option>
<option data-countynumber="0831" data-north="59.3604" data-south="58.928631" data-east="8.406092" data-west="7.696159">Fyresdal</option>
<option data-countynumber="1432" data-north="61.584915" data-south="61.339913" data-east="6.646712" data-west="5.51314">Førde</option>
<option data-countynumber="2023" data-north="71.329653" data-south="70.399485" data-east="29.160776" data-west="27.351504">Gamvik</option>
<option data-countynumber="1430" data-north="61.427014" data-south="61.23469" data-east="6.414795" data-west="5.4107">Gaular</option>
<option data-countynumber="0522" data-north="61.421018" data-south="61.10745" data-east="10.367654" data-west="9.30087">Gausdal</option>
<option data-countynumber="1838" data-north="67.242473" data-south="66.769394" data-east="14.411348" data-west="13.296277">Gildeskål</option>
<option data-countynumber="1532" data-north="62.81198" data-south="62.443593" data-east="6.191016" data-west="5.341265">Giske</option>
<option data-countynumber="1557" data-north="63.015597" data-south="62.821059" data-east="8.138853" data-west="7.384867">Gjemnes</option>
<option data-countynumber="0234" data-north="60.128997" data-south="60.028534" data-east="11.116139" data-west="10.911143">Gjerdrum</option>
<option data-countynumber="0911" data-north="58.993227" data-south="58.763187" data-east="9.191236" data-west="8.754469">Gjerstad</option>
<option data-countynumber="1122" data-north="58.989996" data-south="58.672485" data-east="6.665526" data-west="5.798984">Gjesdal</option>
<option data-countynumber="0502" data-north="61.036826" data-south="60.70747" data-east="10.744765" data-west="10.167662">Gjøvik</option>
<option data-countynumber="1445" data-north="61.86928" data-south="61.585959" data-east="6.758144" data-west="5.636589">Gloppen</option>
<option data-countynumber="0617" data-north="60.871715" data-south="60.631209" data-east="9.33211" data-west="8.718583">Gol</option>
<option data-countynumber="0534" data-north="60.564811" data-south="60.312067" data-east="10.933903" data-west="10.124806">Gran</option>
<option data-countynumber="1825" data-north="65.78575" data-south="65.099078" data-east="13.876568" data-west="12.933083">Grane</option>
<option data-countynumber="1234" data-north="60.641985" data-south="60.431493" data-east="6.842933" data-west="6.491184">Granvin</option>
<option data-countynumber="1919" data-north="68.831787" data-south="68.597008" data-east="17.842898" data-west="17.16189">Gratangen</option>
<option data-countynumber="0904" data-north="58.49177" data-south="58.081369" data-east="9.067269" data-west="8.308676">Grimstad</option>
<option data-countynumber="1742" data-north="64.726366" data-south="64.332358" data-east="13.090966" data-west="12.070877">Grong</option>
<option data-countynumber="0423" data-north="60.550658" data-south="60.276826" data-east="12.606883" data-west="11.795696">Grue</option>
<option data-countynumber="1411" data-north="61.117848" data-south="60.80552" data-east="5.62483" data-west="4.610653">Gulen</option>
<option data-countynumber="1866" data-north="68.687969" data-south="68.319077" data-east="15.442854" data-west="14.13608">Hadsel</option>
<option data-countynumber="0101" data-north="59.259612" data-south="58.876895" data-east="11.71051" data-west="11.153506">Halden</option>
<option data-countynumber="1571" data-north="63.189828" data-south="63.012084" data-east="8.821731" data-west="8.102665">Halsa</option>
<option data-countynumber="0403" data-north="61.236045" data-south="60.768984" data-east="11.279686" data-west="10.98098">Hamar</option>
<option data-countynumber="1849" data-north="68.248214" data-south="67.534026" data-east="16.556285" data-west="15.060598">Hamarøy</option>
<option data-countynumber="2004" data-north="71.186228" data-south="70.392674" data-east="24.17219" data-west="22.298338">Hammerfest</option>
<option data-countynumber="1534" data-north="62.927082" data-south="62.509237" data-east="6.8404" data-west="5.641239">Haram</option>
<option data-countynumber="1517" data-north="62.444299" data-south="62.27516" data-east="6.166655" data-west="5.900634">Hareid</option>
<option data-countynumber="1903" data-north="69.312598" data-south="68.550366" data-east="16.945814" data-west="16.052314">Harstad</option>
<option data-countynumber="2015" data-north="70.98768" data-south="70.280196" data-east="22.899466" data-west="21.175926">Hasvik</option>
<option data-countynumber="1826" data-north="65.891719" data-south="65.108295" data-east="14.625478" data-west="13.62555">Hattfjelldal</option>
<option data-countynumber="1106" data-north="59.558164" data-south="59.383122" data-east="5.397259" data-west="4.568917">Haugesund</option>
<option data-countynumber="1612" data-north="63.481508" data-south="63.11432" data-east="9.423499" data-west="8.742727">Hemne</option>
<option data-countynumber="1832" data-north="66.256935" data-south="65.765834" data-east="14.60231" data-west="13.333799">Hemnes</option>
<option data-countynumber="0618" data-north="61.09172" data-south="60.764039" data-east="8.918998" data-west="8.040872">Hemsedal</option>
<option data-countynumber="1818" data-north="66.404487" data-south="65.851942" data-east="12.482357" data-west="10.953886">Herøy</option>
<option data-countynumber="1515" data-north="62.665951" data-south="62.205851" data-east="5.857293" data-west="4.887401">Herøy</option>
<option data-countynumber="1617" data-north="63.773646" data-south="63.359414" data-east="9.298696" data-west="8.108652">Hitra</option>
<option data-countynumber="0827" data-north="59.854628" data-south="59.528917" data-east="9.022474" data-west="8.370913">Hjartdal</option>
<option data-countynumber="1133" data-north="59.375254" data-south="59.036735" data-east="6.865142" data-west="5.954648">Hjelmeland</option>
<option data-countynumber="0138" data-north="59.705612" data-south="59.513498" data-east="11.071424" data-west="10.771332">Hobøl</option>
<option data-countynumber="0714" data-north="59.664485" data-south="59.446895" data-east="10.160218" data-west="9.915329">Hof</option>
<option data-countynumber="0620" data-north="60.866973" data-south="60.341031" data-east="8.622496" data-west="7.438842">Hol</option>
<option data-countynumber="0612" data-north="60.126562" data-south="59.956454" data-east="10.477743" data-west="10.124538">Hole</option>
<option data-countynumber="0702" data-north="59.575119" data-south="59.448141" data-east="10.346211" data-west="10.123572">Holmestrand</option>
<option data-countynumber="1644" data-north="63.06387" data-south="62.661668" data-east="11.807863" data-west="10.792362">Holtålen</option>
<option data-countynumber="1444" data-north="62.071854" data-south="61.923344" data-east="6.793988" data-west="6.401248">Hornindal</option>
<option data-countynumber="0701" data-north="59.479883" data-south="59.340936" data-east="10.595275" data-west="10.333295">Horten</option>
<option data-countynumber="0239" data-north="60.524189" data-south="60.330388" data-east="11.139315" data-west="10.671978">Hurdal</option>
<option data-countynumber="0628" data-north="59.688079" data-south="59.457327" data-east="10.634994" data-west="10.393691">Hurum</option>
<option data-countynumber="0111" data-north="59.139196" data-south="58.76096" data-east="11.167342" data-west="10.593095">Hvaler</option>
<option data-countynumber="1413" data-north="61.282195" data-south="61.052432" data-east="5.450539" data-west="4.917202">Hyllestad</option>
<option data-countynumber="1119" data-north="58.705323" data-south="58.332509" data-east="5.934703" data-west="5.16324">Hå</option>
<option data-countynumber="1034" data-north="58.67073" data-south="58.282369" data-east="7.378905" data-west="7.068069">Hægebostad</option>
<option data-countynumber="1416" data-north="61.297819" data-south="60.9515" data-east="6.410913" data-west="5.37386">Høyanger</option>
<option data-countynumber="1743" data-north="64.987051" data-south="64.52579" data-east="12.733209" data-west="12.023662">Høylandet</option>
<option data-countynumber="1917" data-north="68.973334" data-south="68.701234" data-east="17.53201" data-west="16.71642">Ibestad</option>
<option data-countynumber="1756" data-north="64.000339" data-south="63.699626" data-east="11.524493" data-west="10.636524">Inderøy</option>
<option data-countynumber="0935" data-north="58.557397" data-south="58.308598" data-east="8.109878" data-west="7.782262">Iveland</option>
<option data-countynumber="0532" data-north="60.400342" data-south="60.164778" data-east="10.576893" data-west="10.194273">Jevnaker</option>
<option data-countynumber="1227" data-north="60.390631" data-south="60.177646" data-east="6.529653" data-west="6.026615">Jondal</option>
<option data-countynumber="1431" data-north="61.701688" data-south="61.436795" data-east="6.854307" data-west="5.970142">Jølster</option>
<option data-countynumber="1936" data-north="70.703616" data-south="69.798358" data-east="20.622611" data-west="17.805249">Karlsøy</option>
<option data-countynumber="1149" data-north="59.503611" data-south="58.955958" data-east="5.430072" data-west="4.531237">Karmøy</option>
<option data-countynumber="1120" data-north="58.84167" data-south="58.623628" data-east="5.738671" data-west="5.071895">Klepp</option>
<option data-countynumber="1662" data-north="63.340969" data-south="63.159899" data-east="10.725171" data-west="10.35636">Klæbu</option>
<option data-countynumber="0604" data-north="59.781339" data-south="59.407871" data-east="10.059968" data-west="9.333292">Kongsberg</option>
<option data-countynumber="0402" data-north="60.398142" data-south="59.981705" data-east="12.541906" data-west="11.830715">Kongsvinger</option>
<option data-countynumber="0815" data-north="59.000917" data-south="58.603311" data-east="9.969765" data-west="9.160531">Kragerø</option>
<option data-countynumber="1001" data-north="58.284661" data-south="57.848164" data-east="8.37168" data-west="7.845931">Kristiansand</option>
<option data-countynumber="1505" data-north="63.428928" data-south="63.005339" data-east="7.931261" data-west="6.971294">Kristiansund</option>
<option data-countynumber="0622" data-north="60.313986" data-south="60.070945" data-east="9.881705" data-west="9.458645">Krødsherad</option>
<option data-countynumber="2017" data-north="70.726492" data-south="70.096523" data-east="24.977207" data-west="23.266824">Kvalsund</option>
<option data-countynumber="1238" data-north="60.533603" data-south="60.09979" data-east="6.525602" data-west="5.854798">Kvam</option>
<option data-countynumber="1037" data-north="58.822707" data-south="58.213319" data-east="7.183846" data-west="6.713008">Kvinesdal</option>
<option data-countynumber="1224" data-north="60.217091" data-south="59.686112" data-east="6.483127" data-west="5.569407">Kvinnherad</option>
<option data-countynumber="0829" data-north="59.574132" data-south="59.24279" data-east="8.882791" data-west="8.141208">Kviteseid</option>
<option data-countynumber="1144" data-north="59.128276" data-south="58.919333" data-east="5.545406" data-west="4.959118">Kvitsøy</option>
<option data-countynumber="1911" data-north="68.931785" data-south="68.443342" data-east="16.422474" data-west="15.592542">Kvæfjord</option>
<option data-countynumber="1943" data-north="70.237505" data-south="69.482295" data-east="22.894466" data-west="21.006623">Kvænangen</option>
<option data-countynumber="0728" data-north="59.473029" data-south="59.255852" data-east="10.063812" data-west="9.755336">Lardal</option>
<option data-countynumber="0709" data-north="59.327433" data-south="58.720455" data-east="10.300922" data-west="9.764471">Larvik</option>
<option data-countynumber="1920" data-north="68.83389" data-south="68.599833" data-east="18.051398" data-west="17.426421">Lavangen</option>
<option data-countynumber="2022" data-north="71.351786" data-south="69.973117" data-east="27.774299" data-west="25.913046">Lebesby</option>
<option data-countynumber="1419" data-north="61.314488" data-south="61.156671" data-east="6.947452" data-west="6.576966">Leikanger</option>
<option data-countynumber="1822" data-north="66.242404" data-south="65.949221" data-east="13.490494" data-west="12.617038">Leirfjord</option>
<option data-countynumber="1755" data-north="65.470175" data-south="64.996193" data-east="11.960207" data-west="10.365946">Leka</option>
<option data-countynumber="1718" data-north="63.795092" data-south="63.495578" data-east="10.87548" data-west="10.133596">Leksvik</option>
<option data-countynumber="1931" data-north="69.811544" data-south="69.143667" data-east="18.548798" data-west="17.055515">Lenvik</option>
<option data-countynumber="0512" data-north="62.378402" data-south="62.000851" data-east="9.319237" data-west="7.98361">Lesja</option>
<option data-countynumber="1719" data-north="63.83599" data-south="63.551223" data-east="11.728514" data-west="10.79529">Levanger</option>
<option data-countynumber="0626" data-north="59.975225" data-south="59.716095" data-east="10.377301" data-west="10.063324">Lier</option>
<option data-countynumber="1738" data-north="64.822124" data-south="64.00797" data-east="14.15711" data-west="13.069497">Lierne</option>
<option data-countynumber="0501" data-north="61.248027" data-south="61.018551" data-east="10.74367" data-west="10.037733">Lillehammer</option>
<option data-countynumber="0926" data-north="58.3333" data-south="57.917234" data-east="8.753823" data-west="8.144522">Lillesand</option>
<option data-countynumber="1029" data-north="58.250955" data-south="57.761682" data-east="7.474413" data-west="6.934874">Lindesnes</option>
<option data-countynumber="1263" data-north="60.852778" data-south="60.532903" data-east="5.713822" data-west="4.951899">Lindås</option>
<option data-countynumber="0514" data-north="62.030964" data-south="61.397734" data-east="8.992714" data-west="7.895651">Lom</option>
<option data-countynumber="2014" data-north="70.790018" data-south="70.038696" data-east="22.603692" data-west="20.479733">Loppa</option>
<option data-countynumber="1112" data-north="58.627877" data-south="58.299509" data-east="6.63215" data-west="6.263301">Lund</option>
<option data-countynumber="0533" data-north="60.339115" data-south="60.13161" data-east="10.864739" data-west="10.456348">Lunner</option>
<option data-countynumber="1834" data-north="66.644675" data-south="66.232473" data-east="13.262431" data-west="11.994547">Lurøy</option>
<option data-countynumber="1426" data-north="61.857509" data-south="61.181745" data-east="8.322053" data-west="6.805758">Luster</option>
<option data-countynumber="1032" data-north="58.314042" data-south="57.787747" data-east="7.28256" data-west="6.772475">Lyngdal</option>
<option data-countynumber="1938" data-north="70.05773" data-south="69.401478" data-east="20.500568" data-west="19.715769">Lyngen</option>
<option data-countynumber="1422" data-north="61.235499" data-south="60.841708" data-east="8.282661" data-west="6.998811">Lærdal</option>
<option data-countynumber="1851" data-north="68.613898" data-south="68.174988" data-east="16.160819" data-west="15.125967">Lødingen</option>
<option data-countynumber="0230" data-north="59.957957" data-south="59.836384" data-east="11.030695" data-west="10.907158">Lørenskog</option>
<option data-countynumber="0415" data-north="61.055259" data-south="60.675248" data-east="11.642981" data-west="11.219779">Løten</option>
<option data-countynumber="1663" data-north="63.495293" data-south="63.29505" data-east="10.964594" data-west="10.539321">Malvik</option>
<option data-countynumber="1002" data-north="58.158442" data-south="57.759005" data-east="7.879244" data-west="7.257809">Mandal</option>
<option data-countynumber="0119" data-north="59.677216" data-south="59.298176" data-east="11.821529" data-west="11.492274">Marker</option>
<option data-countynumber="1021" data-north="58.473295" data-south="58.136041" data-east="7.734662" data-west="7.385883">Marnardal</option>
<option data-countynumber="1266" data-north="60.985504" data-south="60.70309" data-east="5.865183" data-west="5.109885">Masfjorden</option>
<option data-countynumber="1256" data-north="60.626627" data-south="60.495384" data-east="5.287642" data-west="4.929693">Meland</option>
<option data-countynumber="1636" data-north="63.185571" data-south="62.890431" data-east="10.013851" data-west="9.424142">Meldal</option>
<option data-countynumber="1653" data-north="63.344632" data-south="63.019686" data-east="10.716164" data-west="9.878407">Melhus</option>
<option data-countynumber="1837" data-north="67.274847" data-south="66.620421" data-east="14.41897" data-west="12.345037">Meløy</option>
<option data-countynumber="1711" data-north="63.633154" data-south="63.180687" data-east="12.212878" data-west="11.454562">Meråker</option>
<option data-countynumber="1545" data-north="62.767561" data-south="62.627162" data-east="7.001863" data-west="6.447003">Midsund</option>
<option data-countynumber="1648" data-north="63.143588" data-south="62.645467" data-east="10.998566" data-west="9.987917">Midtre Gauldal</option>
<option data-countynumber="1252" data-north="61.035238" data-south="60.724098" data-east="6.210362" data-west="5.650354">Modalen</option>
<option data-countynumber="0623" data-north="60.170819" data-south="59.849747" data-east="10.292753" data-west="9.712912">Modum</option>
<option data-countynumber="1502" data-north="62.871439" data-south="62.630756" data-east="7.817937" data-west="6.953362">Molde</option>
<option data-countynumber="1874" data-north="68.152879" data-south="67.674257" data-east="13.694977" data-west="12.16669">Moskenes</option>
<option data-countynumber="0104" data-north="59.534581" data-south="59.393064" data-east="10.786395" data-west="10.536679">Moss</option>
<option data-countynumber="1924" data-north="69.377186" data-south="68.557942" data-east="20.335873" data-west="18.178279">Målselv</option>
<option data-countynumber="2018" data-north="71.335677" data-south="70.618275" data-east="25.500266" data-west="23.247464">Måsøy</option>
<option data-countynumber="1725" data-north="64.550127" data-south="64.097881" data-east="11.542016" data-west="10.740795">Namdalseid</option>
<option data-countynumber="1703" data-north="64.714309" data-south="64.233355" data-east="11.912935" data-west="10.738205">Namsos</option>
<option data-countynumber="1740" data-north="65.11673" data-south="64.50304" data-east="13.62892" data-west="12.516222">Namsskogan</option>
<option data-countynumber="0238" data-north="60.346692" data-south="60.106292" data-east="11.129198" data-west="10.772026">Nannestad</option>
<option data-countynumber="1805" data-north="68.608455" data-south="67.96937" data-east="18.151355" data-west="16.973946">Narvik</option>
<option data-countynumber="1433" data-north="61.648599" data-south="61.443701" data-east="6.271775" data-west="5.258151">Naustdal</option>
<option data-countynumber="0625" data-north="59.859472" data-south="59.663823" data-east="10.129189" data-west="9.9453">Nedre Eiker</option>
<option data-countynumber="0236" data-north="60.352563" data-south="59.988452" data-east="11.822695" data-west="11.254469">Nes</option>
<option data-countynumber="0616" data-north="60.701169" data-south="60.393827" data-east="9.435185" data-west="8.681447">Nes</option>
<option data-countynumber="1828" data-north="66.331546" data-south="66.148016" data-east="13.324048" data-west="12.627076">Nesna</option>
<option data-countynumber="0216" data-north="59.88441" data-south="59.72212" data-east="10.74402" data-west="10.542101">Nesodden</option>
<option data-countynumber="1543" data-north="62.851347" data-south="62.331744" data-east="8.731647" data-west="7.662813">Nesset</option>
<option data-countynumber="0830" data-north="59.267272" data-south="58.831398" data-east="8.83417" data-west="8.286474">Nissedal</option>
<option data-countynumber="0233" data-north="60.188019" data-south="59.972865" data-east="10.995952" data-west="10.675192">Nittedal</option>
<option data-countynumber="0819" data-north="59.385278" data-south="59.142339" data-east="9.442996" data-west="8.820559">Nome</option>
<option data-countynumber="0542" data-north="61.240697" data-south="60.767359" data-east="9.690255" data-west="8.889454">Nord-Aurdal</option>
<option data-countynumber="0516" data-north="61.86631" data-south="61.340888" data-east="10.014959" data-west="8.899646">Nord-Fron</option>
<option data-countynumber="0418" data-north="60.584153" data-south="60.295429" data-east="11.837252" data-west="11.342259">Nord-Odal</option>
<option data-countynumber="1524" data-north="62.436866" data-south="62.06534" data-east="7.82858" data-west="7.018404">Norddal</option>
<option data-countynumber="2019" data-north="71.384879" data-south="70.656302" data-east="27.060697" data-west="24.919796">Nordkapp</option>
<option data-countynumber="0538" data-north="61.165847" data-south="60.726064" data-east="10.253809" data-west="9.63203">Nordre Land</option>
<option data-countynumber="1942" data-north="69.982102" data-south="69.072894" data-east="22.533009" data-west="20.384408">Nordreisa</option>
<option data-countynumber="0633" data-north="60.512072" data-south="60.070994" data-east="9.217847" data-west="7.488041">Nore og Uvdal</option>
<option data-countynumber="0807" data-north="59.898287" data-south="59.485767" data-east="9.470753" data-west="8.779281">Notodden</option>
<option data-countynumber="1751" data-north="65.07777" data-south="64.697912" data-east="12.580888" data-west="10.958602">Nærøy</option>
<option data-countynumber="0722" data-north="59.271141" data-south="59.111703" data-east="10.65505" data-west="10.330225">Nøtterøy</option>
<option data-countynumber="1228" data-north="60.198867" data-south="59.69381" data-east="7.376479" data-west="6.332327">Odda</option>
<option data-countynumber="1634" data-north="62.81605" data-south="62.255727" data-east="10.097583" data-west="8.919962">Oppdal</option>
<option data-countynumber="0217" data-north="59.839283" data-south="59.758911" data-east="10.839973" data-west="10.71864">Oppegård</option>
<option data-countynumber="1638" data-north="63.466048" data-south="63.143893" data-east="10.05412" data-west="9.342996">Orkdal</option>
<option data-countynumber="1243" data-north="60.32952" data-south="60.107194" data-east="5.627263" data-west="5.253224">Os</option>
<option data-countynumber="0441" data-north="62.696296" data-south="62.13419" data-east="11.856805" data-west="10.721551">Os</option>
<option data-countynumber="1633" data-north="64.728452" data-south="64.163413" data-east="10.927325" data-west="9.32524">Osen</option>
<option data-countynumber="1253" data-north="60.71644" data-south="60.425414" data-east="5.722935" data-west="5.317433">Osterøy</option>
<option data-countynumber="1744" data-north="64.677726" data-south="64.283517" data-east="12.227975" data-west="11.603293">Overhalla</option>
<option data-countynumber="0805" data-north="59.209232" data-south="58.997812" data-east="9.896416" data-west="9.606332">Porsgrunn</option>
<option data-countynumber="1260" data-north="60.763529" data-south="60.58335" data-east="5.209494" data-west="4.776697">Radøy</option>
<option data-countynumber="0128" data-north="59.484318" data-south="59.236381" data-east="11.597416" data-west="11.188155">Rakkestad</option>
<option data-countynumber="1833" data-north="66.783877" data-south="66.095559" data-east="15.533365" data-west="13.18827">Rana</option>
<option data-countynumber="1127" data-north="59.072445" data-south="58.969619" data-east="5.683491" data-west="5.445117">Randaberg</option>
<option data-countynumber="1539" data-north="62.722982" data-south="62.170778" data-east="8.205852" data-west="7.203135">Rauma</option>
<option data-countynumber="0716" data-north="59.514689" data-south="59.303968" data-east="10.455814" data-west="10.042614">Re</option>
<option data-countynumber="0432" data-north="62.200312" data-south="61.412906" data-east="11.843268" data-west="10.448486">Rendalen</option>
<option data-countynumber="1635" data-north="62.974312" data-south="62.558235" data-east="10.325077" data-west="9.421566">Rennebu</option>
<option data-countynumber="1142" data-north="59.190418" data-south="59.014489" data-east="5.861773" data-west="5.499034">Rennesøy</option>
<option data-countynumber="1567" data-north="63.211895" data-south="62.794107" data-east="9.584212" data-west="8.959021">Rindal</option>
<option data-countynumber="0520" data-north="61.751767" data-south="61.362451" data-east="10.705044" data-west="9.938654">Ringebu</option>
<option data-countynumber="0605" data-north="60.637926" data-south="60.01726" data-east="10.601538" data-west="9.704472">Ringerike</option>
<option data-countynumber="0412" data-north="61.295536" data-south="60.675745" data-east="11.117698" data-west="10.442951">Ringsaker</option>
<option data-countynumber="1624" data-north="63.86568" data-south="63.454569" data-east="10.443588" data-west="9.742871">Rissa</option>
<option data-countynumber="0901" data-north="58.829882" data-south="58.523636" data-east="9.668877" data-west="8.965731">Risør</option>
<option data-countynumber="1632" data-north="64.395921" data-south="64.05154" data-east="10.786007" data-west="9.697323">Roan</option>
<option data-countynumber="0632" data-north="60.152447" data-south="59.879399" data-east="9.46605" data-west="8.970661">Rollag</option>
<option data-countynumber="0136" data-north="59.439385" data-south="59.293879" data-east="10.820767" data-west="10.578245">Rygge</option>
<option data-countynumber="0135" data-north="59.411036" data-south="59.252316" data-east="10.977966" data-west="10.590332">Råde</option>
<option data-countynumber="0228" data-north="59.954854" data-south="59.827179" data-east="11.173637" data-west="11.010827">Rælingen</option>
<option data-countynumber="1836" data-north="67.124881" data-south="66.397147" data-east="13.872402" data-west="11.667005">Rødøy</option>
<option data-countynumber="0121" data-north="59.790586" data-south="59.623875" data-east="11.946004" data-west="11.650636">Rømskog</option>
<option data-countynumber="1640" data-north="62.829155" data-south="62.309888" data-east="12.254665" data-west="11.12454">Røros</option>
<option data-countynumber="1856" data-north="67.78187" data-south="67.016178" data-east="12.835953" data-west="11.303062">Røst</option>
<option data-countynumber="0627" data-north="59.797065" data-south="59.671716" data-east="10.555926" data-west="10.290062">Røyken</option>
<option data-countynumber="1739" data-north="65.139249" data-south="64.50304" data-east="14.325986" data-west="13.039464">Røyrvik</option>
<option data-countynumber="1923" data-north="69.010624" data-south="68.739089" data-east="18.226945" data-west="17.42913">Salangen</option>
<option data-countynumber="1840" data-north="67.20484" data-south="66.557858" data-east="16.306397" data-west="14.969947">Saltdal</option>
<option data-countynumber="1242" data-north="60.526576" data-south="60.285927" data-east="5.991071" data-west="5.570503">Samnanger</option>
<option data-countynumber="0713" data-north="59.674011" data-south="59.493345" data-east="10.398015" data-west="10.037463">Sande</option>
<option data-countynumber="1514" data-north="62.433238" data-south="62.154759" data-east="5.793346" data-west="4.816602">Sande</option>
<option data-countynumber="0706" data-north="59.21499" data-south="58.771277" data-east="10.375285" data-west="10.118522">Sandefjord</option>
<option data-countynumber="1102" data-north="58.986627" data-south="58.776807" data-east="6.113879" data-west="5.609706">Sandnes</option>
<option data-countynumber="1546" data-north="63.091332" data-south="62.699817" data-east="6.746096" data-west="5.887823">Sandøy</option>
<option data-countynumber="0105" data-north="59.417272" data-south="59.092618" data-east="11.348043" data-west="10.947758">Sarpsborg</option>
<option data-countynumber="1135" data-north="59.844574" data-south="59.562604" data-east="6.693511" data-west="6.178095">Sauda</option>
<option data-countynumber="0822" data-north="59.559302" data-south="59.322142" data-east="9.515264" data-west="9.102064">Sauherad</option>
<option data-countynumber="0517" data-north="61.957401" data-south="61.560374" data-east="10.015503" data-west="9.112119">Sel</option>
<option data-countynumber="1664" data-north="63.347894" data-south="63.003845" data-east="11.631772" data-west="10.620498">Selbu</option>
<option data-countynumber="1441" data-north="62.382396" data-south="61.930611" data-east="5.505971" data-west="4.57892">Selje</option>
<option data-countynumber="0828" data-north="59.795068" data-south="59.351572" data-east="8.917588" data-west="8.206493">Seljord</option>
<option data-countynumber="0621" data-north="60.364677" data-south="59.896241" data-east="9.858876" data-west="9.134005">Sigdal</option>
<option data-countynumber="0811" data-north="59.424901" data-south="59.194806" data-east="9.878123" data-west="9.580576">Siljan</option>
<option data-countynumber="1046" data-north="59.189687" data-south="58.500422" data-east="7.20486" data-west="6.436069">Sirdal</option>
<option data-countynumber="1657" data-north="63.372984" data-south="63.167339" data-east="10.23098" data-west="9.889994">Skaun</option>
<option data-countynumber="0231" data-north="60.045098" data-south="59.937413" data-east="11.178438" data-west="10.933734">Skedsmo</option>
<option data-countynumber="0213" data-north="59.83167" data-south="59.618675" data-east="10.991982" data-west="10.799949">Ski</option>
<option data-countynumber="0806" data-north="59.487254" data-south="59.045256" data-east="9.779704" data-west="9.227647">Skien</option>
<option data-countynumber="0127" data-north="59.549251" data-south="59.392866" data-east="11.240905" data-west="11.057182">Skiptvet</option>
<option data-countynumber="1941" data-north="70.579701" data-south="69.81621" data-east="21.438689" data-west="20.222642">Skjervøy</option>
<option data-countynumber="0513" data-north="62.189687" data-south="61.679137" data-east="8.591365" data-west="7.34253">Skjåk</option>
<option data-countynumber="1529" data-north="62.565942" data-south="62.43278" data-east="6.859189" data-west="6.431455">Skodje</option>
<option data-countynumber="1913" data-north="68.736953" data-south="68.498948" data-east="17.547589" data-west="16.532948">Skånland</option>
<option data-countynumber="1573" data-north="63.768169" data-south="63.202422" data-east="8.342934" data-west="7.110659">Smøla</option>
<option data-countynumber="1613" data-north="63.588345" data-south="63.278726" data-east="9.731238" data-west="9.045168">Snillfjord</option>
<option data-countynumber="1736" data-north="64.433845" data-south="63.956923" data-east="13.248031" data-west="11.955388">Snåsa</option>
<option data-countynumber="1420" data-north="61.570247" data-south="61.091796" data-east="7.429801" data-west="6.561725">Sogndal</option>
<option data-countynumber="1111" data-north="58.476866" data-south="58.027854" data-east="6.522636" data-west="5.871746">Sokndal</option>
<option data-countynumber="1124" data-north="58.982091" data-south="58.782154" data-east="5.70299" data-west="5.007664">Sola</option>
<option data-countynumber="1412" data-north="61.252406" data-south="60.833354" data-east="5.155673" data-west="4.087526">Solund</option>
<option data-countynumber="1017" data-north="58.368953" data-south="58.10847" data-east="7.906215" data-west="7.527299">Songdalen</option>
<option data-countynumber="1870" data-north="69.008629" data-south="68.525981" data-east="16.112267" data-west="14.787936">Sortland</option>
<option data-countynumber="0123" data-north="59.703326" data-south="59.502517" data-east="11.241494" data-west="10.977197">Spydeberg</option>
<option data-countynumber="0417" data-north="60.792256" data-south="60.458798" data-east="11.654353" data-west="11.027777">Stange</option>
<option data-countynumber="1103" data-north="59.060162" data-south="58.884659" data-east="5.863424" data-west="5.565633">Stavanger</option>
<option data-countynumber="1848" data-north="68.121304" data-south="67.586673" data-east="15.911072" data-west="13.595061">Steigen</option>
<option data-countynumber="1702" data-north="64.33029" data-south="63.860935" data-east="12.377953" data-west="11.165141">Steinkjer</option>
<option data-countynumber="1714" data-north="63.600286" data-south="63.326234" data-east="11.728171" data-west="10.653929">Stjørdal</option>
<option data-countynumber="0720" data-north="59.330907" data-south="59.151096" data-east="10.381293" data-west="10.140981">Stokke</option>
<option data-countynumber="0430" data-north="61.963908" data-south="61.199486" data-east="11.374582" data-west="10.052638">Stor-Elvdal</option>
<option data-countynumber="1221" data-north="59.92356" data-south="59.723515" data-east="5.650818" data-west="5.320621">Stord</option>
<option data-countynumber="1526" data-north="62.484307" data-south="62.318703" data-east="7.33554" data-west="6.827155">Stordal</option>
<option data-countynumber="1939" data-north="69.464281" data-south="69.03629" data-east="21.108675" data-west="19.642217">Storfjord</option>
<option data-countynumber="1130" data-north="59.143299" data-south="58.957297" data-east="6.222325" data-west="5.783964">Strand</option>
<option data-countynumber="1525" data-north="62.372162" data-south="61.963547" data-east="7.419457" data-west="6.657574">Stranda</option>
<option data-countynumber="1449" data-north="62.034092" data-south="61.609484" data-east="7.414227" data-west="6.256646">Stryn</option>
<option data-countynumber="1531" data-north="62.458979" data-south="62.366688" data-east="6.375956" data-west="6.011947">Sula</option>
<option data-countynumber="1134" data-north="59.782777" data-south="59.301268" data-east="7.214667" data-west="5.874356">Suldal</option>
<option data-countynumber="1245" data-north="60.309694" data-south="60.10405" data-east="5.238023" data-west="4.507142">Sund</option>
<option data-countynumber="1563" data-north="62.941262" data-south="62.353193" data-east="9.243822" data-west="8.206133">Sunndal</option>
<option data-countynumber="1566" data-north="63.133668" data-south="62.711771" data-east="9.364831" data-west="8.243706">Surnadal</option>
<option data-countynumber="1216" data-north="59.754632" data-south="59.475421" data-east="5.580725" data-west="5.187413">Sveio</option>
<option data-countynumber="0711" data-north="59.701938" data-south="59.530433" data-east="10.424497" data-west="10.302024">Svelvik</option>
<option data-countynumber="1528" data-north="62.464249" data-south="62.220912" data-east="6.889526" data-west="6.3634">Sykkylven</option>
<option data-countynumber="1018" data-north="58.169823" data-south="57.802035" data-east="8.087194" data-west="7.575217">Søgne</option>
<option data-countynumber="1812" data-north="65.53756" data-south="65.183276" data-east="12.464629" data-west="10.608885">Sømna</option>
<option data-countynumber="0536" data-north="60.878782" data-south="60.526695" data-east="10.550535" data-west="9.977391">Søndre Land</option>
<option data-countynumber="0540" data-north="60.879172" data-south="60.454233" data-east="10.036019" data-west="9.257783">Sør-Aurdal</option>
<option data-countynumber="0519" data-north="61.913424" data-south="61.292481" data-east="10.164822" data-west="9.187244">Sør-Fron</option>
<option data-countynumber="0419" data-north="60.376782" data-south="60.047784" data-east="11.937189" data-west="11.520338">Sør-Odal</option>
<option data-countynumber="2030" data-north="70.06426" data-south="69.01083" data-east="31.198245" data-west="28.330463">Sør-Varanger</option>
<option data-countynumber="1845" data-north="67.783244" data-south="67.25555" data-east="16.407568" data-west="15.063617">Sørfold</option>
<option data-countynumber="1925" data-north="69.220748" data-south="68.980401" data-east="18.460829" data-west="17.87682">Sørreisa</option>
<option data-countynumber="0226" data-north="60.077247" data-south="59.878626" data-east="11.439506" data-west="11.056237">Sørum</option>
<option data-countynumber="1121" data-north="58.801853" data-south="58.612771" data-east="5.930303" data-west="5.60338">Time</option>
<option data-countynumber="1560" data-north="63.129376" data-south="62.78155" data-east="8.440644" data-west="7.836506">Tingvoll</option>
<option data-countynumber="0826" data-north="60.188272" data-south="59.762072" data-east="9.192594" data-west="7.853363">Tinn</option>
<option data-countynumber="1852" data-north="68.631115" data-south="68.372084" data-east="16.602588" data-west="15.996674">Tjeldsund</option>
<option data-countynumber="0723" data-north="59.17216" data-south="58.76096" data-east="10.67502" data-west="10.333487">Tjøme</option>
<option data-countynumber="0833" data-north="59.601069" data-south="59.32664" data-east="8.339962" data-west="7.51455">Tokke</option>
<option data-countynumber="0436" data-north="62.60012" data-south="62.143584" data-east="11.695815" data-west="10.47382">Tolga</option>
<option data-countynumber="1928" data-north="69.649422" data-south="69.171008" data-east="17.407472" data-west="16.254351">Torsken</option>
<option data-countynumber="1927" data-north="69.349719" data-south="68.951948" data-east="17.851213" data-west="16.711239">Tranøy</option>
<option data-countynumber="1902" data-north="70.168417" data-south="69.282089" data-east="20.043639" data-west="17.160047">Tromsø</option>
<option data-countynumber="1601" data-north="63.516594" data-south="63.302703" data-east="10.725171" data-west="10.00353">Trondheim</option>
<option data-countynumber="0428" data-north="61.699149" data-south="61.013078" data-east="12.870849" data-west="11.737186">Trysil</option>
<option data-countynumber="1835" data-north="66.815371" data-south="66.312748" data-east="12.43543" data-west="11.297772">Træna</option>
<option data-countynumber="0122" data-north="59.770266" data-south="59.571108" data-east="11.504213" data-west="11.185429">Trøgstad</option>
<option data-countynumber="0914" data-north="58.706684" data-south="58.425665" data-east="9.531652" data-west="8.733068">Tvedestrand</option>
<option data-countynumber="1665" data-north="63.194904" data-south="62.747917" data-east="12.218233" data-west="11.271896">Tydal</option>
<option data-countynumber="0437" data-north="62.696928" data-south="62.022976" data-east="11.217521" data-west="10.005732">Tynset</option>
<option data-countynumber="1850" data-north="68.315032" data-south="67.647193" data-east="17.180508" data-west="15.794572">Tysfjord</option>
<option data-countynumber="1223" data-north="60.124403" data-south="59.858229" data-east="5.769734" data-west="5.322124">Tysnes</option>
<option data-countynumber="1146" data-north="59.499682" data-south="59.209059" data-east="5.921972" data-west="5.343575">Tysvær</option>
<option data-countynumber="0704" data-north="59.356993" data-south="59.227584" data-east="10.590795" data-west="10.277459">Tønsberg</option>
<option data-countynumber="0235" data-north="60.256572" data-south="60.051607" data-east="11.335724" data-west="11.040857">Ullensaker</option>
<option data-countynumber="1231" data-north="60.487795" data-south="60.000014" data-east="7.488041" data-west="6.382474">Ullensvang</option>
<option data-countynumber="1516" data-north="62.513707" data-south="62.216154" data-east="5.967035" data-west="5.680605">Ulstein</option>
<option data-countynumber="1233" data-north="60.74084" data-south="60.46848" data-east="7.732115" data-west="6.751088">Ulvik</option>
<option data-countynumber="1151" data-north="59.444299" data-south="59.070878" data-east="5.030813" data-west="4.454274">Utsira</option>
<option data-countynumber="2003" data-north="70.477791" data-south="69.975045" data-east="30.932678" data-west="28.981008">Vadsø</option>
<option data-countynumber="1251" data-north="60.913971" data-south="60.433749" data-east="6.313996" data-west="5.586852">Vaksdal</option>
<option data-countynumber="0940" data-north="59.398819" data-south="58.939356" data-east="7.821009" data-west="6.996384">Valle</option>
<option data-countynumber="0545" data-north="61.445616" data-south="60.93916" data-east="8.889158" data-west="8.006564">Vang</option>
<option data-countynumber="1511" data-north="62.216154" data-south="61.960412" data-east="5.864026" data-west="5.358393">Vanylven</option>
<option data-countynumber="2002" data-north="70.644389" data-south="70.012749" data-east="31.761485" data-west="30.074318">Vardø</option>
<option data-countynumber="1824" data-north="66.178541" data-south="65.464112" data-east="13.766029" data-west="12.584748">Vefsn</option>
<option data-countynumber="1815" data-north="65.993128" data-south="65.487687" data-east="12.23998" data-west="10.674973">Vega</option>
<option data-countynumber="0912" data-north="58.871341" data-south="58.639326" data-east="9.01708" data-west="8.621775">Vegårshei</option>
<option data-countynumber="1014" data-north="58.46299" data-south="58.216636" data-east="8.079482" data-west="7.623897">Vennesla</option>
<option data-countynumber="1721" data-north="63.974222" data-south="63.593418" data-east="12.683568" data-west="11.331921">Verdal</option>
<option data-countynumber="1724" data-north="64.145714" data-south="63.739948" data-east="11.341804" data-west="10.415345">Verran</option>
<option data-countynumber="0211" data-north="59.647722" data-south="59.471882" data-east="10.860056" data-west="10.616438">Vestby</option>
<option data-countynumber="1535" data-north="62.690133" data-south="62.44624" data-east="7.298225" data-west="6.676577">Vestnes</option>
<option data-countynumber="0543" data-north="61.209635" data-south="60.896631" data-east="9.178739" data-west="8.654052">Vestre Slidre</option>
<option data-countynumber="0529" data-north="60.755409" data-south="60.50028" data-east="10.761307" data-west="10.484844">Vestre Toten</option>
<option data-countynumber="1860" data-north="68.540984" data-south="67.784421" data-east="14.189592" data-west="13.003693">Vestvågøy</option>
<option data-countynumber="1816" data-north="65.789751" data-south="65.517372" data-east="13.040993" data-west="12.226927">Vevelstad</option>
<option data-countynumber="1417" data-north="61.190715" data-south="60.880735" data-east="7.030082" data-west="6.135824">Vik</option>
<option data-countynumber="1750" data-north="65.265206" data-south="64.588793" data-east="11.381255" data-west="9.803794">Vikna</option>
<option data-countynumber="1160" data-north="59.753563" data-south="59.406512" data-east="6.183812" data-west="5.45993">Vindafjord</option>
<option data-countynumber="0834" data-north="60.126852" data-south="59.487252" data-east="8.324791" data-west="7.096288">Vinje</option>
<option data-countynumber="1519" data-north="62.237523" data-south="61.956584" data-east="6.500512" data-west="5.727921">Volda</option>
<option data-countynumber="1235" data-north="60.959552" data-south="60.467417" data-east="6.985868" data-west="5.84274">Voss</option>
<option data-countynumber="1865" data-north="68.605307" data-south="67.94409" data-east="15.272002" data-west="13.388008">Vågan</option>
<option data-countynumber="1439" data-north="62.180845" data-south="61.875899" data-east="5.540223" data-west="4.44119">Vågsøy</option>
<option data-countynumber="0515" data-north="62.018937" data-south="61.386706" data-east="9.430897" data-west="8.487673">Vågå</option>
<option data-countynumber="0426" data-north="61.061507" data-south="60.565155" data-east="12.338109" data-west="11.613556">Våler</option>
<option data-countynumber="0137" data-north="59.541973" data-south="59.386987" data-east="11.137917" data-west="10.765774">Våler</option>
<option data-countynumber="1857" data-north="67.870157" data-south="67.374152" data-east="13.507375" data-west="11.987895">Værøy</option>
<option data-countynumber="1868" data-north="69.315972" data-south="68.72356" data-east="15.383794" data-west="14.188904">Øksnes</option>
<option data-countynumber="1621" data-north="63.751029" data-south="63.608347" data-east="9.825914" data-west="9.213947">Ørland</option>
<option data-countynumber="1523" data-north="62.54441" data-south="62.413264" data-east="7.120459" data-west="6.684248">Ørskog</option>
<option data-countynumber="1520" data-north="62.394358" data-south="62.037811" data-east="6.784127" data-west="5.922289">Ørsta</option>
<option data-countynumber="0528" data-north="60.774941" data-south="60.470582" data-east="11.153986" data-west="10.671472">Østre Toten</option>
<option data-countynumber="0624" data-north="59.905933" data-south="59.582481" data-east="10.06917" data-west="9.645468">Øvre Eiker</option>
<option data-countynumber="0521" data-north="61.471593" data-south="61.182999" data-east="10.849055" data-west="10.17943">Øyer</option>
<option data-countynumber="1259" data-north="60.740906" data-south="60.412583" data-east="4.997052" data-west="4.266136">Øygarden</option>
<option data-countynumber="0544" data-north="61.450773" data-south="61.050918" data-east="9.466004" data-west="8.721471">Øystre Slidre</option>
<option data-countynumber="1630" data-north="64.202116" data-south="63.771242" data-east="10.880387" data-west="9.61419">Åfjord</option>
<option data-countynumber="0619" data-north="60.924048" data-south="60.470499" data-east="8.843884" data-west="7.77524">Ål</option>
<option data-countynumber="1504" data-north="62.52508" data-south="62.394358" data-east="6.571283" data-west="6.055166">Ålesund</option>
<option data-countynumber="0929" data-north="58.985024" data-south="58.614341" data-east="8.759712" data-west="7.961383">Åmli</option>
<option data-countynumber="0429" data-north="61.507195" data-south="61.015125" data-east="11.916085" data-west="10.957745">Åmot</option>
<option data-countynumber="1424" data-north="61.461198" data-south="61.110875" data-east="8.25145" data-west="7.378078">Årdal</option>
<option data-countynumber="0214" data-north="59.765987" data-south="59.592284" data-east="10.891746" data-west="10.674113">Ås</option>
<option data-countynumber="1026" data-north="58.879368" data-south="58.488882" data-east="7.667" data-west="7.141083">Åseral</option>
<option data-countynumber="0425" data-north="60.890833" data-south="60.471596" data-east="12.598388" data-west="11.641341">Åsnes</option>
