@model Kartverket.MetadataEditor.Models.MetadataViewModel

@if (!Model.IsService())
{
    <div class="form-group">
        <label for="ResolutionScale" class="col-md-2 control-label">Målestokkstall</label>
        <div class="col-md-9">
            <p class="help-text bg-success" id="help-text-ResolutionScale" style="display: none">
                Målestokkstallet skal legges inn som et heltall (eks: 5000)
            </p>
            @Html.EditorFor(m => m.ResolutionScale)
        </div>
        <div class="col-md-1">
            <p class="form-control-static">
                <a href="#" data-help-text-id="help-text-ResolutionScale" class="badge help-text-toggle">?</a>
            </p>
        </div>
    </div>
}
<div class="form-group">
    <label for="Status" class="col-md-2 control-label">Status</label>
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-Status" style="display: none">
            Status for datasett eller datasett tjenesten opererer mot.
        </p>
        <div class="custom-select">
            @Html.DropDownList("Status", ViewBag.StatusValues as SelectList, String.Empty, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-Status" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
<div class="form-group">
    <label for="ProcessHistory" class="col-md-2 control-label">Prosesshistorie</label>
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-ProcessHistory" style="display: none">
            Dataprodusentens generelle kunnskap om opprinnelsen og prosesshistorien til et datasett eller tjeneste. Forklar kort hvilke vikte operasjoner som er gjort fra datafangst til leveranse, og hvordan dette eventuelt påvirker kvalitet og innhold i datasettet
        </p>
        @Html.TextAreaFor(m => m.ProcessHistory, new { @class = "form-control", cols = "", rows = "5" })
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-ProcessHistory" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
@if (Model.IsService())
{
    <div class="form-group">
        <label for="OrderingInstructions" class="col-md-2 control-label">Tjenesteerklæring</label>
        <div class="col-md-9">
            <p class="help-text bg-success" id="help-text-OrderingInstructions" style="display: none">
                For tjenester som omfattes av Norge digitalt-avtalen skal tjenesteerklæring i henhold til avtalens "generelle vilkår" oppgis.
            </p>
            <div class="custom-select">
                @Html.DropDownList("OrderingInstructions", ViewBag.OrderingInstructionsValues as SelectList, String.Empty, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-1">
            <p class="form-control-static">
                <a href="#" data-help-text-id="help-text-OrderingInstructions" class="badge help-text-toggle">?</a>
            </p>
        </div>
    </div>
}