@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@{
    ViewBag.Title = "Mine registerdata";
}

<div id="registerdata">
    <h1>Mine registerdata</h1>
    @{WebClient c = new WebClient();
        c.Encoding = System.Text.Encoding.UTF8;
        var data = c.DownloadString(ViewBag.RegisterOrganizationUrl);
        var response = Newtonsoft.Json.Linq.JObject.Parse(data);

        var results = response["Results"];
        foreach (var registerData in results)
        {
        <div class="row">
            <div class="col-sm-4"><a href="@registerData["Url"]" target="_blank">@registerData["RegisterName"]</a></div>
            <div class="col-sm-8">@registerData["RegisterDescription"]</div>
        </div>
    <hr />
    }
}

