body {
    padding-bottom: 20px;
    /*background-color: rgb(237, 237, 237);*/
    background-color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    background-color: white;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.navbar {
    background-image: -webkit-linear-gradient(#fff,#eee 50%,#e4e4e4);
    background-image: linear-gradient(#fff,#eee 50%,#e4e4e4);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe4e4e4',GradientType=0);
    filter: none;
    border: 1px solid #d5d5d5;
    text-shadow: 0 1px 0 rgba(255,255,255,.3);
}

/*
.navbar {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#f8f8f8));
    background-image: -webkit-linear-gradient(top, #ffffff, 0%, #f8f8f8, 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
    background-repeat: repeat-x;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
    */
@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 20px;
    }
/*    .nav > li > a {
        padding-left: 30px;
    }
    */
}

.navbar > .container { padding: 8px; }

.tab-pane {margin-top: 20px;}

p.keyword-header {
    width: 60%;
    border-bottom: solid 1px black;
}

.service-layer-info {
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    border-style: solid;

}

.control-text {
    padding-top: 7px;
}