.form-element-tab-group {
    margin-bottom: 8px;
}

.form-element-tab {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
    cursor: pointer;
}

    .form-element-tab.active {
        background-color: #7da1c4;
        color: #fff;
    }

.form-element-badge {
    padding: 0px 8px;
    background-color: #7da1c4;
    margin-bottom: 0px;
    display: inline-block;
    color: #fff;
    font-size: 10pt;
    line-height: 15pt;
}

.help-text-toggle {
    cursor: pointer;
}

.nav-tabs > li > a {
    padding: 10px 12px;
}

.input-group-addon + .form-group {
    display: table-cell;
    padding-bottom: 0;
}


.striped-list .list-item {
    padding: 4px 12px;
}

.form-horizontal .list-item .form-group {
    padding-bottom: 0;
}

.upload-input input[type="file"] {
    opacity: 0;
    display: inline !important;
    width: 85px;
    padding: 0 !important;
    margin: 0 -85px 0 0;
    height: 35px;
    vertical-align: top;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

    .upload-input input[type="file"] + .btn {
        position: absolute;
        z-index: 1;
    }

.upload-input input:hover[type="file"] + .btn {
    background-color: #fe5000;
    color: #fff !important;
    border: 1px solid transparent;
    font-style: normal;
    font-size: 12pt;
    line-height: 16pt;
}
