.form-element-tab-group {
    margin-bottom: 8px;
}

.form-element-tab {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
    cursor: pointer;
}

    .form-element-tab.active {
        background-color: #7da1c4;
        color: #fff;
    }

.form-element-badge {
    padding: 0px 8px;
    background-color: #7da1c4;
    margin-bottom: 0px;
    display: inline-block;
    color: #fff;
    font-size: 10pt;
    line-height: 15pt;
}

.help-text-toggle{
    cursor: pointer;
}

.nav-tabs > li > a{
    padding: 10px 12px;
}