<script type="text/x-template" id="thumbnail-template">
    <div class="list-item">
        <div class="row">
            <div class="col-sm-3">
                <img v-bind:src="imageUrl" />
            </div>
            <div class="col-sm-9">
                <p><b>Type:</b> {{ imageType }}</p>
                <p><b>URL:</b> {{ imageUrl }}</p>
            </div>
        </div>
        <input v-bind:name="formElement.name" v-bind:type="formElement.type" v-bind:value="formElement.value" v-for="formElement in formElements" />
    </div>
</script>



<script>
    var Thumbnail = {
        name: "thumbnail",
        template: "#thumbnail-template",
        props: ["imageType", "imageUrl", "imageIndex"],
        data: function () {
            return {
                formElements: [
                    {
                        name: 'Thumbnails[' + this.imageIndex + '].Type',
                        type: 'hidden',
                        value: this.imageType
                    },
                    {
                        name: 'Thumbnails[' + this.imageIndex + '].URL',
                        type: 'hidden',
                        value: this.imageUrl
                    }
                ]
            }
        }
    };
</script>

