@using Resources
<script type="text/x-template" id="keywords-section-template">
    <div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-11">
                        <span>{{ section.title }}</span>
                    </div>
                    <div class="col-md-1">
                        <span v-on:click="section.helpText.active = !section.helpText.active" v-bind:class="{active: section.helpText.active}" class="badge help-text-toggle">?</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="panel-body">
                <p v-if="section.helpText && section.helpText.active" class="help-text bg-success" v-html="section.helpText.content"></p>
                <div v-if="$store.getters['Keywords' + section.name] && $store.getters['Keywords' + section.name].length">
                    <div v-if="section.multilingual" class="form-element-tab-group">
                        <span v-on:click="selectedLanguage = languageCode"
                              v-for="(language, languageCode) in $store.getters['settingsLanguages']"
                              v-bind:class="{active: selectedLanguage == languageCode}"
                              class="form-element-tab">
                            {{ $store.getters['settingsLanguages_' + languageCode] }}
                        </span>
                    </div>
                    <div v-bind:class="{'striped-list': selectedLanguage == 'all'}">
                        <div v-bind:class="{'list-item': selectedLanguage == 'all'}"
                             v-for="(keyword, index) in $store.getters['Keywords' + section.name]">
                            <div v-if="section.multilingual"
                                 is="multilingual-keyword"
                                 v-bind:selected-language="selectedLanguage"
                                 v-bind:keyword-name="section.name"
                                 v-bind:inputType="section.type"
                                 v-bind:keyword-index="index"
                                 v-bind:keyword-value="keyword"
                                 v-bind:options="section.options !== undefined ? section.options : null">
                            </div>
                            <div v-else
                                 is="monolingual-keyword"
                                 v-bind:selected-language="selectedLanguage"
                                 v-bind:keyword-name="section.name"
                                 v-bind:inputType="section.type"
                                 v-bind:keyword-index="index"
                                 v-bind:keyword-value="keyword"
                                 v-bind:options="section.options !== undefined ? section.options : null">
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    Ingen nøkkelord er lagt til for denne kategorien
                </div>

                <div class="text-right">
                    <span v-on:click="$store.dispatch('addMultilingualKeyword', {keywordName: section.name})" class="btn">@UI.AddKeyword</span>
                </div>
            </div>
        </div>

    </div>
</script>

<script>
    var KeywordsSection = {
        name: "KeywordsSection",
        template: "#keywords-section-template",
        props: ["section"],
        components: {
            MultilingualKeyword: MultilingualKeyword,
            MonolingualKeyword: MonolingualKeyword
        },
        data: function () {
            return {
                selectedLanguage: this.$store.getters['settingsSelectedLanguage']
            }
        }
    };
</script>


