@using Resources

<script type="text/x-template" id="keywords-administrative-units-template">
    <div class="panel panel-default hidden">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-11">
                    <span>{{ title }}</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="panel-body">
            <div v-if="$store.getters[getter] && $store.getters[getter].length">
                    <div v-for="(keyword, index) in $store.getters[getter]">
                        <component is="keywords-administrative-unit"
                             v-bind:keyword-name="name"
                             v-bind:inputType="type"
                             v-bind:keyword-index="index"
                             v-bind:keyword-value="keyword">
                        </component>
                    </div>
            </div>
            <div v-else>
                @Html.Raw(UI.NoKeywordsAddedForCategory)
            </div>

            <div class="text-right">
                <span v-on:click="$store.dispatch('addMultilingualKeyword', {keywordName: name})" class="btn">@UI.AddKeyword</span>
            </div>
        </div>
    </div>
</script>

@Html.Partial("VueComponents/Edit/TimeAndSpace/KeywordsAdministrativeUnits/_KeywordsAdministrativeUnit")

<script>
    var KeywordsAdministrativeUnits = {
        name: "KeywordsAdministrativeUnits",
        template: "#keywords-administrative-units-template",
        components: {
            KeywordsAdministrativeUnit: KeywordsAdministrativeUnit
        },
        data: function () {
            return {
                title: '@Html.Raw(UI.Metadata_KeywordsAdministrativeUnits_Label)',
                name: 'AdministrativeUnits',
                getter: 'KeywordsAdministrativeUnits',
                onKeyup: "getKeywordsAdministrativeUnitsValues",
                type: 'filter-select'
            };
        }
    };
</script>

