@using Resources
@using Kartverket.MetadataEditor.Helpers
@model Kartverket.MetadataEditor.Models.MetadataViewModel

<script type="text/x-template" id="survey-area-map-template">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">Fullstendighetsdekningskart</div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group has-feedback">
                <div class="form-group has-feedback">
                    <div class="row">
                        <label class="col-md-2 control-label">{{ url.fields.jsonUrl.label }}</label>
                        <div class="col-md-10">
                            <input v-bind:type="url.type" v-model="url.value" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <input v-bind:name="computedSurveyAreaMapUrl.name" type="hidden" v-model="computedSurveyAreaMapUrl.value" class="form-control" />
        </div>
    </div>
</script>

<script>
    var Surveyareamap = {
        name: "surveyareamap",
        template: "#survey-area-map-template",
        data() {
            return {
                url: {
                    value: this.$root.model.SurveyAreaMapUrl,
                    type: 'text',
                    fields: { jsonUrl: { label: 'Json-url' } }
                }
            }
        },
        computed: {
            computedSurveyAreaMapUrl: function () {
                return {
                    name: 'SurveyAreaMapUrl',
                    value: this.url.value,
                    label: 'Fullstendighetsdekningskart json-url',
                    type: 'text'
                };
            }
        },
        methods: {
            async checkUrlExists(url) {
                try {
                    const head = await fetch(url, { method: 'HEAD', mode: 'cors' });
                    if (head.ok) return true;
                    // Some servers reject HEAD; fallback to a light GET
                    const get = await fetch(url, { method: 'GET', mode: 'cors' });
                    return get.ok;
                } catch (e) {
                    console.warn('URL check failed', e);
                    return false;
                }
            },
            async ensureDefaultUrl() {
                var datasetId = this.$root.model.ResourceReferenceCode;
                if (datasetId && this.$root.model.SurveyAreaMapUrl && this.$root.model.SurveyAreaMapUrl.trim() !== '') return;
                const defaultUrl = 'https://@(Html.EnvironmentName() == "dev" ? "test" : Html.EnvironmentName())nedlasting.geonorge.no/geonorge/Basisdata/DOKFullstendighetsdekningskart/Kartkatalogen/dekning_' + datasetId +'.geojson';
                if (await this.checkUrlExists(defaultUrl)) {
                    this.url.value = defaultUrl;
                }
            }
        },
        mounted() {
            this.ensureDefaultUrl();
        }
    };
</script>


