@model List<string>
    @{
        ViewBag.Title = "Index";
    }
    @if(Model != null)
    {
    <h4>Send epost om feil til:</h4>
    <form action="@Url.Action("SendEmail")" method="post">
        <div>
            <input type="checkbox" class="check" id="checkAll"> Velg alle
            <hr />
        </div>

        @foreach (var email in Model.ToList())
        {
            <input type="checkbox" class="check" value="@email" name="emails" /> @email <br />
        }
        <input type="submit" value="Send" class="btn btn-primary pull-right btn-group" />
    </form>
    }

@section scripts {
    <script>
    $(function () {
        $("#checkAll").click(function () {
            $(".check").prop('checked', $(this).prop('checked'));
        });

    });
    </script>
}