<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <add key="GeoNetworkUrl" value="http://www.geonorge.no/geonetworkbeta/" />
  <add key="GeoNetworkUsername" value="" />
  <add key="GeoNetworkPassword" value="" />
  <add key="ProductSheetGeneratorUrl" value="http://localhost:51140/productsheets/create?uuid=" />
  <add key="EditorUrl" value="http://localhost:55542/" />
  <add key="WebserviceGeonorgeUsername" value="" />
  <add key="WebserviceGeonorgePassword" value="" />
</appSettings>