<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <add key="GeoNetworkUrl" value="http://www.geonorge.no/geonetworkdev/" />
  <add key="GeoNetworkUsername" value="" />
  <add key="GeoNetworkPassword" value="" />
  <add key="ProductSheetGeneratorUrl" value="http://produktark.dev.geonorge.no/ProductSheets/Create?uuid=" />
  <add key="EditorUrl" value="http://localhost:55542/" />
  <add key="WebserviceGeonorgeUsername" value="" />
  <add key="WebserviceGeonorgePassword" value="" />
  <add key="KartkatalogUsername" value="" />
  <add key="KartkatalogPassword" value="" />
  <add key="LogApi" value="http://api.dev.geonorge.no/endringslogg/" />
  <add key="LogApiKey" value="" />
  <add key="apikey" value=""/>
  <add key="GeoID:ClientId" value="" />
  <add key="GeoID:ClientSecret" value="" />
  <add key="GeoID:Authority" value="" />
  <add key="GeoID:Issuer" value="" />
  <add key="GeoID:RedirectUri" value="" />
  <add key="GeoID:PostLogoutRedirectUri" value="https://CHANGEME/signout-callback-oidc" />
  <add key="GeoID:MetadataAddress" value="" />
  <add key="GeoID:BaatAuthzApiUrl" value=""/>
  <add key="GeoID:BaatAuthzApiCredentials" value=""/>
	<add key="ClimateSerieUuid1" value="no.met.adc:0f449e05-892a-5da2-b8d9-686f040ef4b5" />
	<add key="ClimateSerieUuid2" value="no.met.adc:53e19fd0-2370-535c-b58a-be1635b3862a" />
</appSettings>