<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer >
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="https redirect" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="false" />
          </conditions>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
<!--
  <kentor.authServices
    assertionConsumerServiceUrl="https://kartverket-editor.arkitektum.no/Saml2AuthenticationModule/Acs" issuer="https://kartverket-editor.arkitektum.no"
    returnUri="https://kartverket-editor.arkitektum.no/Metadata"
    xdt:Transform="Replace">
    <identityProvider
        issuer="https://idp-demo.arkitektum.no/saml2/idp/metadata.php"
        destinationUri="https://idp-demo.arkitektum.no/saml2/idp/SSOService.php"
        binding="HttpRedirect">
      <signingCertificate
        storeName="TrustedPublisher"
        storeLocation="LocalMachine"
        findValue="2EAF5E9A24CD5CA0A46EA258566D3F462E1A63FA"
        x509FindType="FindByThumbprint" />
    </identityProvider>
  </kentor.authServices>
  -->
  <!-- 
  ‎31 2d 11 88 91 39 a2 97 fa a4 c3 f0 24 e3 ca 32 bb 18 39 31
  -->

  <kentor.authServices
    assertionConsumerServiceUrl="https://kartverket-editor.arkitektum.no/Saml2AuthenticationModule/Acs" 
    issuer="https://kartverket-editor.arkitektum.no"
    returnUri="https://kartverket-editor.arkitektum.no/Metadata"
    xdt:Transform="Replace">
    <identityProvider
        issuer="https://idp.statkart.no/simplesaml/saml2/idp/metadata.php"
        destinationUri="https://idp.statkart.no/simplesaml/saml2/idp/SSOService.php"
        binding="HttpRedirect">
      <signingCertificate
        storeName="TrustedPublisher"
        storeLocation="LocalMachine"
        findValue="312D11889139A297FAA4C3F024E3CA32BB183931"
        x509FindType="FindByThumbprint" />
    </identityProvider>
  </kentor.authServices>


</configuration>
