<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
  <kentor.authServices 
    entityId="https://editor.geonorge.no" 
    returnUrl="https://editor.geonorge.no/Metadata"
    xdt:Transform="Replace">
    <identityProviders>
      <add
        entityId="https://idp.statkart.no/simplesaml/saml2/idp/metadata.php"
        destinationUrl="https://idp.statkart.no/simplesaml/saml2/idp/SSOService.php"
        binding="HttpRedirect" allowUnsolicitedAuthnResponse="false">
        <signingCertificate 
          storeName="TrustedPublisher" 
          storeLocation="LocalMachine"
          findValue="312D11889139A297FAA4C3F024E3CA32BB183931"
          x509FindType="FindByThumbprint" />
      </add>
    </identityProviders>
  </kentor.authServices>
  
  <system.identityModel.services xdt:Transform="Replace">
    <federationConfiguration>
      <cookieHandler requireSsl="true" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>
