<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer >
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="https redirect" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="false" />
          </conditions>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  
  <kentor.authServices
    assertionConsumerServiceUrl="https://editor.geonorge.no/Saml2AuthenticationModule/Acs"
    issuer="https://editor.geonorge.no"
    returnUri="https://editor.geonorge.no/Metadata"
    xdt:Transform="Replace">
    <identityProvider
        issuer="https://idp.statkart.no/simplesaml/saml2/idp/metadata.php"
        destinationUri="https://idp.statkart.no/simplesaml/saml2/idp/SSOService.php"
        binding="HttpRedirect">
      <signingCertificate
        storeName="TrustedPublisher"
        storeLocation="LocalMachine"
        findValue="312D11889139A297FAA4C3F024E3CA32BB183931"
        x509FindType="FindByThumbprint" />
    </identityProvider>
  </kentor.authServices>
  
</configuration>
