<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <kentor.authServices 
    assertionConsumerServiceUrl="http://editor.dev.geonorge.no/Saml2AuthenticationModule/Acs"
    entityId="http://editor.dev.geonorge.no"
    returnUri="http://editor.dev.geonorge.no/Metadata"
    xdt:Transform="Replace">
    <identityProviders>
      <add entityId="https://idp-demo.arkitektum.no/saml2/idp/metadata.php" destinationUri="https://idp-demo.arkitektum.no/saml2/idp/SSOService.php" binding="HttpRedirect" allowUnsolicitedAuthnResponse="false">
        <signingCertificate storeName="TrustedPublisher" storeLocation="LocalMachine" findValue="2EAF5E9A24CD5CA0A46EA258566D3F462E1A63FA" x509FindType="FindByThumbprint" />
      </add>
    </identityProviders>
  </kentor.authServices>
 
</configuration>
