<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <kentor.authServices
    assertionConsumerServiceUrl="https://editor.geonorge.no/Saml2AuthenticationModule/Acs"
    issuer="https://editor.geonorge.no"
    returnUri="https://editor.geonorge.no/Metadata"
    xdt:Transform="Replace">
    <identityProvider
        issuer="https://idp.statkart.no/simplesaml/saml2/idp/metadata.php"
        destinationUri="https://idp.statkart.no/simplesaml/saml2/idp/SSOService.php"
        binding="HttpRedirect"
        allowUnsolicitedAuthnResponse="false">
      <signingCertificate
        storeName="TrustedPublisher"
        storeLocation="LocalMachine"
        findValue="312D11889139A297FAA4C3F024E3CA32BB183931"
        x509FindType="FindByThumbprint" />
    </identityProvider>
  </kentor.authServices>


  <!--

  <kentor.authServices
    assertionConsumerServiceUrl="https://editor.geonorge.no/Saml2AuthenticationModule/Acs"
    issuer="https://editor.geonorge.no"
    returnUri="https://editor.geonorge.no/Metadata"
    xdt:Transform="Replace">
    <identityProvider
        issuer="https://idp.statkart.no/idp/shibboleth"
        destinationUri="https://idp.statkart.no/idp/profile/SAML2/POST/SSO"
        binding="HttpRedirect"
        allowUnsolicitedAuthnResponse="false">
      <signingCertificate
        storeName="TrustedPublisher"
        storeLocation="LocalMachine"
        findValue="3EDB2CE82E9CF74876A3148220D5216D064EEA9F"
        x509FindType="FindByThumbprint" />
    </identityProvider>
  </kentor.authServices>
-->

</configuration>
