<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
    <!--
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->

  <kentor.authServices
    assertionConsumerServiceUrl="http://localhost:55542/Saml2AuthenticationModule/Acs" issuer="http://localhost:55542"
    returnUri="http://localhost:55542/Metadata"
    xdt:Transform="Replace">

    <identityProvider
      issuer="https://idp-demo.arkitektum.no/saml2/idp/metadata.php"
      destinationUri="https://idp-demo.arkitektum.no/saml2/idp/SSOService.php"
      binding="HttpRedirect">

      <signingCertificate
        storeName="TrustedPublisher"
        storeLocation="LocalMachine"
        findValue="2EAF5E9A24CD5CA0A46EA258566D3F462E1A63FA"
        x509FindType="FindByThumbprint" />

    </identityProvider>
  </kentor.authServices>
  
</configuration>
