<script type="text/x-template" id="admin-template">
    <div>
        Admin
    </div>
</script>

<script>
    var Admin = {
        name: "admin",
        template: "#admin-template",
        props: [],
        components: {
        }
    };
</script>

