<script type="text/x-template" id="contact-template">
    <div>
        Contact
    </div>
</script>

<script>
    var Contact = {
        name: "contact",
        template: "#contact-template",
        props: [],
        components: {
        }
    };
</script>


