<script type="text/x-template" id="constraints-template">
    <div>
        Constraints
    </div>
</script>

<script>
    var Constraints = {
        name: "constraints",
        template: "#constraints-template",
        props: [],
        components: {
        }
    };
</script>
