<script type="text/x-template" id="distribution-template">
    <div>
        Distribution
    </div>
</script>

<script>
    var Distribution = {
        name: "distribution",
        template: "#distribution-template",
        props: [],
        components: {
        }
    };
</script>
