@using Resources
<script type="text/x-template" id="distribution-template">
    <div>
        <div v-if="spatialRepresentation.visible" class="form-group">
            <div class="row">
                <label for="SpatialRepresentation" class="col-md-3 control-label">@UI.SpatialRepresentationType</label>
                <div class="col-md-3">
                    <div is="field" v-bind:form-element="spatialRepresentation"></div>
                </div>
            </div>
        </div>
        <div is="distribution-item" v-bind:distribution="distribution" v-bind:distribution-index="index" v-for="(distribution, index) in $store.getters['FormatDistributions']"></div>

        <span v-if="$store.getters['isDataset'] || $store.getters['isDatasetSeries']" v-on:click="$store.commit('addFormatDistributions');" class="btn">@UI.Button_Add_Distribution</span>

        <div v-if="$store.getters['isDataset'] || $store.getters['isDatasetSeries']" is="reference-systems"></div>
    </div>
</script>

@Html.Partial("VueComponents/Edit/Distribution/_DistributionItem")
@Html.Partial("VueComponents/Edit/Distribution/_ReferenceSystems")


<script>
    var Distribution = {
        name: "distribution",
        template: "#distribution-template",
        components: {
            Field: Field,
            DistributionItem: DistributionItem,
            ReferenceSystems: ReferenceSystems
        },
        data: function () {
            return {
                spatialRepresentation: {
                    name: 'SpatialRepresentation',
                    getter: 'SpatialRepresentation',
                    mutation: 'updateSpatialRepresentation',
                    type: 'select',
                    visible: this.$store.getters['isDataset'] || this.$store.getters['isDatasetSeries'],
                    options: this.$store.getters['SpatialRepresentationValues']
                }
            };
        }
    };
</script>
