<script type="text/x-template" id="distribution-template">
    <div>

        <div v-if="$root.isDatasetOrDatasetSeries" class="form-group">
            <div class="row">
                <label for="SpatialRepresentation" class="col-md-3 control-label">Representasjonsform</label>
                <div class="col-md-3">
                    <div is="field" v-bind:form-element="spatialRepresentation"></div>
                </div>
            </div>
        </div>

        <div is="distribution-item" v-bind:distribution="distribution" v-bind:distribution-index="index" v-for="(distribution, index) in $store.getters['FormatDistributions']"></div>
    </div>
</script>

@Html.Partial("VueComponents/Edit/Distribution/_DistributionItem")


<script>
    var Distribution = {
        name: "distribution",
        template: "#distribution-template",
        components: {
            Field: Field,
            DistributionItem: DistributionItem
        },
        data: function () {
            return {
                spatialRepresentation: {
                    name: 'SpatialRepresentation',
                    mutation: 'updateSpatialRepresentation',
                    type: 'select',
                    options: this.$store.getters['SpatialRepresentationValues']
                }
            };
        }
    };
</script>
