<script type="text/x-template" id="documents-template">
    <div>
        Documents
    </div>
</script>

<script>
    var Documents = {
        name: "documents",
        template: "#documents-template",
        props: [],
        components: {
        }
    };
</script>
