<script type="text/x-template" id="keywords-template">
    <div>
        Keywords
    </div>
</script>

<script>
    var Keywords = {
        name: "keywords",
        template: "#keywords-template",
        props: [],
        components: {
        }
    };
</script>

