<script type="text/x-template" id="quality-template">
    <div>
        Quality
    </div>
</script>

<script>
    var Quality = {
        name: "quality",
        template: "#quality-template",
        props: [],
        components: {
        }
    };
</script>

