<script type="text/x-template" id="timeAndSpace-template">
    <div>
        Time and space
    </div>
</script>

<script>
    var TimeAndSpace = {
        name: "timeAndSpace",
        template: "#timeAndSpace-template",
        props: [],
        components: {
        }
    };
</script>

