@model Kartverket.MetadataEditor.Models.ServiceLayerViewModel

<h4>Tjeneste:</h4>
<h1>@Model.Metadata.Title</h1>

<h3>Metadata ble opprettet for følgende lag:</h3>

<ul>
    @foreach (var layer in Model.Layers)
    {
        <li><a href="@Url.Action("Edit", new { uuid=@layer.Uuid })" target="_blank">@layer.Title <span class="glyphicon glyphicon-pencil"></span></a></li>
    }
</ul>
