<script type="text/x-template" id="tab-template">
    <li v-on:click="$store.dispatch('setSelectedTab', tab)" v-bind:class="{active: active}">
        <a href="#">
            <span v-bind:class="tab.iconClass"></span>
            {{ tab.name }}
            <span class="error-icon-container">
                <span v-show="errors.length" class="custom-icon custom-icon-warning">
                    <span class="custom-icon-overlay">{{ errors.length }}</span>
                </span>
            </span>
        </a>
    </li>
</script>

<script>
    var Tab = {
        name: "Tab",
        template: "#tab-template",
        props: ['tab'],
        computed: {
            active: function () {
                var selectedTab = this.$store.getters['settingsSelectedTab'];
                console.log(selectedTab);
                return selectedTab.id == this.tab.id;
            },
            errors: function () {
                return this.$store.getters['errorsInTabs'][this.tab.id];
            }
        }
    };
</script>
